{
  "swagger": "2.0",
  "info": {
    "title": "Authentication Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/authentication",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/authentication/changePassword": {
      "put": {
        "description": "updatePassword",
        "operationId": "updatePasswordUsingPUT",
        "summary": "updatePassword",
        "tags": [
          "login-controller"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "query",
            "description": "deviceId",
            "type": "string"
          },
          {
            "name": "imei",
            "in": "query",
            "description": "imei",
            "type": "string"
          },
          {
            "name": "typeDevice",
            "in": "query",
            "description": "typeDevice",
            "type": "string",
            "default": "WEB"
          },
          {
            "name": "changeRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChangeRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«MessageResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/authentication/external/login": {
      "post": {
        "description": "getLoginExternal",
        "operationId": "getLoginExternalUsingPOST",
        "summary": "getLoginExternal",
        "tags": [
          "login-controller"
        ],
        "parameters": [
          {
            "name": "g-recaptcha-response",
            "in": "query",
            "description": "g-recaptcha-response",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "deviceId",
            "type": "string"
          },
          {
            "name": "imei",
            "in": "query",
            "description": "imei",
            "type": "string"
          },
          {
            "name": "typeDevice",
            "in": "query",
            "description": "typeDevice",
            "type": "string",
            "default": "WEB"
          },
          {
            "name": "loginRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            },
            "description": "loginRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«LoginResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/authentication/getKeyWord": {
      "post": {
        "description": "getKeyWord",
        "operationId": "getKeyWordUsingPOST",
        "summary": "getKeyWord",
        "tags": [
          "login-controller"
        ],
        "parameters": [
          {
            "name": "usernameRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UsernameRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«KeyWordResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/authentication/internal/login": {
      "post": {
        "description": "getLoginInternal",
        "operationId": "getLoginInternalUsingPOST",
        "summary": "getLoginInternal",
        "tags": [
          "login-controller"
        ],
        "parameters": [
          {
            "name": "g-recaptcha-response",
            "in": "query",
            "description": "g-recaptcha-response",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "deviceId",
            "type": "string"
          },
          {
            "name": "imei",
            "in": "query",
            "description": "imei",
            "type": "string"
          },
          {
            "name": "typeDevice",
            "in": "query",
            "description": "typeDevice",
            "type": "string",
            "default": "WEB"
          },
          {
            "name": "loginRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            },
            "description": "loginRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«LoginResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/preregistry/confirmation": {
      "get": {
        "description": "redirectWithUsingRedirectPrefix",
        "operationId": "redirectWithUsingRedirectPrefixUsingGET",
        "summary": "redirectWithUsingRedirectPrefix",
        "tags": [
          "pre-registry-controller"
        ],
        "parameters": [
          {
            "name": "document",
            "in": "query",
            "description": "document",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "company",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "type": "string"
          },
          {
            "name": "virtual",
            "in": "query",
            "description": "virtual",
            "type": "boolean"
          },
          {
            "name": "model",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Model"
            },
            "description": "model"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/preregistry/identification": {
      "post": {
        "description": "getIdentification",
        "operationId": "getIdentificationUsingPOST",
        "summary": "getIdentification",
        "tags": [
          "pre-registry-controller"
        ],
        "parameters": [
          {
            "name": "identificationRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/IdentificationRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«ContactAuthorizedResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/reset/send-password-generation-email": {
      "post": {
        "description": "sendPasswordGenerationEmail",
        "operationId": "sendPasswordGenerationEmailUsingPOST",
        "summary": "sendPasswordGenerationEmail",
        "tags": [
          "reset-controller"
        ],
        "parameters": [
          {
            "name": "validateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            },
            "description": "username"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationToken»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/preregistry/validate": {
      "post": {
        "description": "sendEmailRecoverPassword",
        "operationId": "sendEmailRecoverPasswordUsingPOST",
        "summary": "sendEmailRecoverPassword",
        "tags": [
          "pre-registry-controller"
        ],
        "parameters": [
          {
            "name": "validateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationToken»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/reset": {
      "post": {
        "description": "resetPassSendEmail",
        "operationId": "resetPassSendEmailUsingPOST",
        "summary": "resetPassSendEmail",
        "tags": [
          "reset-controller"
        ],
        "parameters": [
          {
            "name": "validateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationToken»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/reset/generate-password-public": {
      "post": {
        "description": "sendPasswordGenerationPublicUser",
        "operationId": "sendPasswordGenerationPublicUserUsingPOST",
        "summary": "sendPasswordGenerationPublicUser",
        "tags": [
          "reset-controller"
        ],
        "parameters": [
          {
            "name": "publicDataMail",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PublicDataMail"
            },
            "description": "dataMail"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationToken»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/verification/email-key/{key}": {
      "get": {
        "description": "verificationEmailKey",
        "operationId": "verificationEmailKeyUsingGET",
        "summary": "verificationEmailKey",
        "tags": [
          "verification-controller"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationEmailResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/verification/registry/send-email": {
      "post": {
        "description": "registrySendEmail",
        "operationId": "registrySendEmailUsingPOST",
        "summary": "registrySendEmail",
        "tags": [
          "verification-controller"
        ],
        "parameters": [
          {
            "name": "registryEmailRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/RegistryEmailRequest"
            },
            "description": "registryEmailRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«VerificationToken»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "properties": {
        "can": {
          "type": "boolean"
        },
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Action"
    },
    "Address": {
      "type": "object",
      "properties": {
        "interior": {
          "type": "string"
        },
        "lote": {
          "type": "string"
        },
        "nombreAvenida": {
          "type": "string"
        },
        "nombreUrbanizacion": {
          "type": "string"
        },
        "numeroAvenida": {
          "type": "string"
        },
        "numeroManzana": {
          "type": "string"
        },
        "piso": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "tipoAvenida": {
          "type": "string"
        },
        "tipoManzana": {
          "type": "string"
        },
        "tipoUrbanizacion": {
          "type": "string"
        }
      },
      "title": "Address"
    },
    "Attention": {
      "type": "object",
      "properties": {
        "attentionGroup": {
          "$ref": "#/definitions/AttentionGroup"
        },
        "role": {
          "$ref": "#/definitions/Role"
        }
      },
      "title": "Attention"
    },
    "AttentionGroup": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "AttentionGroup"
    },
    "ChangeRequest": {
      "type": "object",
      "properties": {
        "confirmationPassword": {
          "type": "string"
        },
        "deviceId": {
          "type": "string"
        },
        "imei": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "keyWord": {
          "type": "string"
        },
        "newPassword": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "typeDevice": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "ChangeRequest"
    },
    "Company": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "attentionGroupSale": {
          "$ref": "#/definitions/AttentionGroup"
        },
        "code": {
          "type": "string"
        },
        "covid": {
          "type": "boolean"
        },
        "debtFinancing": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "highDate": {
          "type": "string",
          "format": "date"
        },
        "id": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "numberDocument": {
          "type": "string"
        },
        "overdueDebt": {
          "type": "boolean"
        },
        "productAvailable": {
          "type": "string"
        },
        "provider": {
          "type": "boolean"
        },
        "status": {
          "type": "boolean"
        },
        "typeClient": {
          "$ref": "#/definitions/TypeClient"
        },
        "typeDocument": {
          "$ref": "#/definitions/TypeDocument"
        }
      },
      "title": "Company"
    },
    "CompanyResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "numberDocument": {
          "type": "string"
        }
      },
      "title": "CompanyResponse"
    },
    "ContactAuthorizedResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "companyResponse": {
          "$ref": "#/definitions/CompanyResponse"
        },
        "corporateMail": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "portfolio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Portfolio"
          }
        }
      },
      "title": "ContactAuthorizedResponse"
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32"
        },
        "backOffice": {
          "type": "boolean"
        },
        "birthDate": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "codeOfGeo": {
          "type": "string"
        },
        "companyPartner": {
          "type": "boolean"
        },
        "corporateMail": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        },
        "documentType": {
          "$ref": "#/definitions/DocumentTypeResponse"
        },
        "expirationDocumentType": {
          "type": "string"
        },
        "extraMobileNumber": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "highDate": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "personalMail": {
          "type": "string"
        },
        "surName": {
          "type": "string"
        },
        "telephoneNumber": {
          "$ref": "#/definitions/TelephoneNumberResponse"
        },
        "telephoneNumberExtra": {
          "$ref": "#/definitions/TelephoneNumberResponse"
        }
      },
      "title": "ContactResponse"
    },
    "DataAccessLogin": {
      "type": "object",
      "properties": {
        "countLogin": {
          "type": "integer",
          "format": "int32"
        },
        "dateLogin": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "DataAccessLogin"
    },
    "DocumentTypeResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "DocumentTypeResponse"
    },
    "IdentificationRequest": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "keyWord": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "IdentificationRequest"
    },
    "KeyWordResponse": {
      "type": "object",
      "properties": {
        "keyWord": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "KeyWordResponse"
    },
    "LoginRequest": {
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string"
        },
        "imei": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "typeDevice": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "LoginRequest"
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "attention": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attention"
          }
        },
        "contact": {
          "$ref": "#/definitions/ContactResponse"
        },
        "dataLogin": {
          "$ref": "#/definitions/DataAccessLogin"
        },
        "permission": {
          "$ref": "#/definitions/PermissionRole"
        },
        "portfolio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Portfolio"
          }
        },
        "profile": {
          "$ref": "#/definitions/ProfileResponse"
        },
        "status": {
          "type": "boolean"
        },
        "userId": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "LoginResponse"
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "MessageResponse"
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "model": {
          "type": "object"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "reference": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "425 TOO_EARLY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "view": {
          "$ref": "#/definitions/View"
        },
        "viewName": {
          "type": "string"
        }
      },
      "title": "ModelAndView"
    },
    "Mono«ContactAuthorizedResponse»": {
      "type": "object",
      "title": "Mono«ContactAuthorizedResponse»"
    },
    "Mono«KeyWordResponse»": {
      "type": "object",
      "title": "Mono«KeyWordResponse»"
    },
    "Mono«LoginResponse»": {
      "type": "object",
      "title": "Mono«LoginResponse»"
    },
    "Mono«MessageResponse»": {
      "type": "object",
      "title": "Mono«MessageResponse»"
    },
    "Mono«VerificationEmailResponse»": {
      "type": "object",
      "title": "Mono«VerificationEmailResponse»"
    },
    "Mono«VerificationToken»": {
      "type": "object",
      "title": "Mono«VerificationToken»"
    },
    "Permission": {
      "type": "object",
      "properties": {
        "action": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Action"
          }
        },
        "can": {
          "type": "boolean"
        },
        "module": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Permission"
    },
    "PermissionRole": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Permission"
          }
        },
        "role": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      },
      "title": "PermissionRole"
    },
    "Portfolio": {
      "type": "object",
      "properties": {
        "certificationStatus": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/Company"
        },
        "role": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          }
        }
      },
      "title": "Portfolio"
    },
    "ProfileResponse": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "companyId": {
          "type": "string"
        },
        "profileCode": {
          "type": "string"
        },
        "subRole": {
          "$ref": "#/definitions/SubRoleResponse"
        },
        "timeLogin": {
          "$ref": "#/definitions/TimeLoginResponse"
        }
      },
      "title": "ProfileResponse"
    },
    "PublicDataMail": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hasCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "virtual": {
          "type": "boolean"
        }
      },
      "title": "PublicDataMail"
    },
    "RegistryEmailRequest": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "personalEmail": {
          "type": "boolean"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "RegistryEmailRequest"
    },
    "Role": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subRoles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRole"
          }
        },
        "type": {
          "type": "string"
        }
      },
      "title": "Role"
    },
    "SubRole": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "SubRole"
    },
    "SubRoleResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "SubRoleResponse"
    },
    "TelephoneNumberResponse": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string"
        },
        "prefix": {
          "type": "string"
        }
      },
      "title": "TelephoneNumberResponse"
    },
    "TimeLoginResponse": {
      "type": "object",
      "properties": {
        "endTimeLogin": {
          "type": "string"
        },
        "startTimeLogin": {
          "type": "string"
        }
      },
      "title": "TimeLoginResponse"
    },
    "TypeClient": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "TypeClient"
    },
    "TypeDocument": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "TypeDocument"
    },
    "UsernameRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        }
      },
      "title": "UsernameRequest"
    },
    "ValidateRequest": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "usernameUpdate": {
          "type": "string"
        }
      },
      "title": "ValidateRequest"
    },
    "VerificationEmailResponse": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "virtual": {
          "type": "boolean"
        }
      },
      "title": "VerificationEmailResponse"
    },
    "VerificationToken": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        },
        "expireAt": {
          "type": "string"
        },
        "hashCode": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "ruc": {
          "type": "string"
        },
        "status": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "virtual": {
          "type": "boolean"
        }
      },
      "title": "VerificationToken"
    },
    "View": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string"
        }
      },
      "title": "View"
    },
    "Model": {
      "type": "object",
      "additionalProperties": {
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "login-controller",
      "description": "Login Controller"
    },
    {
      "name": "pre-registry-controller",
      "description": "Pre Registry Controller"
    },
    {
      "name": "reset-controller",
      "description": "Reset Controller"
    },
    {
      "name": "verification-controller",
      "description": "Verification Controller"
    }
  ]
}