{
  "swagger": "2.0",
  "info": {
    "title": "Catalogue Api",
    "version": "1.0",
    "description": "Api Documentation,"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/catalogue",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/productCatalog/v2/products": {
      "get": {
        "description": "filterCatalogue",
        "operationId": "filterCatalogueUsingGET",
        "summary": "filterCatalogue",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "correlationId",
            "in": "query",
            "description": "correlationId",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "type": "string"
          },
          {
            "name": "isBundle",
            "in": "query",
            "description": "isBundle",
            "type": "boolean"
          },
          {
            "name": "lifeCycleStatus",
            "in": "query",
            "description": "lifeCycleStatus",
            "type": "string"
          },
          {
            "name": "category.id",
            "in": "query",
            "description": "category.id",
            "type": "string"
          },
          {
            "name": "category.name",
            "in": "query",
            "description": "category.name",
            "type": "string"
          },
          {
            "name": "brand",
            "in": "query",
            "description": "brand",
            "type": "string"
          },
          {
            "name": "productNumber",
            "in": "query",
            "description": "productNumber",
            "type": "string"
          },
          {
            "name": "relatedProduct.id",
            "in": "query",
            "description": "relatedProduct.id",
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "type": "string",
            "default": "10"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "type": "string",
            "default": "0"
          },
          {
            "name": "deep",
            "in": "query",
            "description": "deep",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalogueListResponse"
            }
          }
        }
      },
      "post": {
        "description": "createProductPlan",
        "operationId": "createProductPlanUsingPOST",
        "summary": "createProductPlan",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          },
          {
            "name": "catalogueCreateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CatalogueCreateRequest"
            },
            "description": "catalogueCreateRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CatalogueCreateResponse"
            }
          }
        }
      }
    },
    "/productCatalog/v2/products/plans/{planId}": {
      "get": {
        "description": "getCataloguePlan",
        "operationId": "getCataloguePlanUsingGET",
        "summary": "getCataloguePlan",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "planId",
            "required": true,
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlanResponse"
            }
          }
        }
      },
      "put": {
        "description": "updatePlan",
        "operationId": "updatePlanUsingPUT",
        "summary": "updatePlan",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "planId",
            "required": true,
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          },
          {
            "name": "planRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PlanRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalogueUpdateResponse"
            }
          }
        }
      }
    },
    "/productCatalog/v2/products/{productId}": {
      "get": {
        "description": "getProductId",
        "operationId": "getProductIdUsingGET",
        "summary": "getProductId",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalogueListResponse"
            }
          }
        }
      },
      "put": {
        "description": "updateProduct",
        "operationId": "updateProductUsingPUT",
        "summary": "updateProduct",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1b567df3-0fa8-4ad2-ab0b-a97291904361"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "wappe"
          },
          {
            "name": "UNICA-PID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "admin"
          },
          {
            "name": "X-IBM-Client-Id",
            "in": "header",
            "type": "string",
            "default": "9a8ba84e-35ba-4488-0de1-04e436f3e38e"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "default": "Bearer kZTctMDRlNDM2ZmVlMzBl3gw3C83XdPUdxwYjC5dqonYG_YLvIggUf"
          },
          {
            "name": "catalogueCreateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CatalogueCreateRequest"
            },
            "description": "createRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalogueUpdateResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BenefitsRequest": {
      "title": "BenefitsRequest",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BenefitsResponse": {
      "title": "BenefitsResponse",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "CatalogueCreateRequest": {
      "title": "CatalogueCreateRequest",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueRequest"
          }
        },
        "attachment": {
          "$ref": "#/definitions/InfoAttachmentRequest"
        },
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitsRequest"
          }
        },
        "brand": {
          "type": "string"
        },
        "bundledProductSpecification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComposingProductRequest"
          }
        },
        "category": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryTreeRequest"
          }
        },
        "correlationId": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isBundle": {
          "type": "boolean"
        },
        "lifeCycleStatus": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanRequest"
          }
        },
        "productSpecCharacteristic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicRequest"
          }
        },
        "totalPlans": {
          "format": "int32",
          "type": "integer"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityRequest"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodRequest"
        }
      }
    },
    "CatalogueCreateResponse": {
      "title": "CatalogueCreateResponse",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueResponse"
          }
        },
        "attachment": {
          "$ref": "#/definitions/InfoAttachmentResponse"
        },
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitsResponse"
          }
        },
        "brand": {
          "type": "string"
        },
        "bundledProductSpecification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComposingProductResponse"
          }
        },
        "category": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryTreeResponse"
          }
        },
        "correlationId": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isBundle": {
          "type": "boolean"
        },
        "lifeCycleStatus": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "offerings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityRefResponse"
          }
        },
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanResponse"
          }
        },
        "productSpecCharacteristic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicResponse"
          }
        },
        "productSpecificationRelationship": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductSpecRelationshipResponse"
          }
        },
        "totalPlans": {
          "format": "int32",
          "type": "integer"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityResponse"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        }
      }
    },
    "CatalogueListResponse": {
      "title": "CatalogueListResponse",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueResponse"
          }
        },
        "attachment": {
          "$ref": "#/definitions/InfoAttachmentResponse"
        },
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitsResponse"
          }
        },
        "brand": {
          "type": "string"
        },
        "bundledProductSpecification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComposingProductResponse"
          }
        },
        "category": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryTreeResponse"
          }
        },
        "correlationId": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isBundle": {
          "type": "boolean"
        },
        "lifeCycleStatus": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "offerings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityRefResponse"
          }
        },
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanResponse"
          }
        },
        "productSpecCharacteristic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicResponse"
          }
        },
        "productSpecificationRelationship": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductSpecRelationshipResponse"
          }
        },
        "totalPlans": {
          "format": "int32",
          "type": "integer"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityResponse"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        }
      }
    },
    "CatalogueUpdateResponse": {
      "title": "CatalogueUpdateResponse",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "CategoryTreeRequest": {
      "title": "CategoryTreeRequest",
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subcategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryTreeRequest"
          }
        }
      }
    },
    "CategoryTreeResponse": {
      "title": "CategoryTreeResponse",
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subcategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryTreeResponse"
          }
        }
      }
    },
    "CharacteristicRequest": {
      "title": "CharacteristicRequest",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        },
        "valueType": {
          "type": "string"
        }
      }
    },
    "CharacteristicResponse": {
      "title": "CharacteristicResponse",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        },
        "valueType": {
          "type": "string"
        }
      }
    },
    "ChargeRequest": {
      "title": "ChargeRequest",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ChargeResponse": {
      "title": "ChargeResponse",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ComponentProdOfferPriceRequest": {
      "title": "ComponentProdOfferPriceRequest",
      "required": [
        "price"
      ],
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueRequest"
          }
        },
        "charge": {
          "$ref": "#/definitions/ChargeRequest"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isMandatory": {
          "type": "boolean"
        },
        "maxPrice": {
          "$ref": "#/definitions/MoneyRequest"
        },
        "minPrice": {
          "$ref": "#/definitions/MoneyRequest"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/MoneyRequest"
        },
        "priceConsumer": {
          "$ref": "#/definitions/EntityRefRequest"
        },
        "priceLocation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priceType": {
          "type": "string"
        },
        "pricedComponents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueRequest"
          }
        },
        "productOfferPriceAlteration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferPriceAlterationRequest"
          }
        },
        "recurringChargePeriod": {
          "type": "string"
        },
        "taxIncluded": {
          "type": "boolean"
        },
        "taxRate": {
          "format": "double",
          "type": "number"
        },
        "taxType": {
          "type": "string"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityRequest"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodRequest"
        }
      }
    },
    "ComponentProdOfferPriceResponse": {
      "title": "ComponentProdOfferPriceResponse",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueResponse"
          }
        },
        "charge": {
          "$ref": "#/definitions/ChargeResponse"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isMandatory": {
          "type": "boolean"
        },
        "maxPrice": {
          "$ref": "#/definitions/MoneyResponse"
        },
        "minPrice": {
          "$ref": "#/definitions/MoneyResponse"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/MoneyResponse"
        },
        "priceConsumer": {
          "$ref": "#/definitions/EntityRefResponse"
        },
        "priceLocation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priceType": {
          "type": "string"
        },
        "pricedComponents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueResponse"
          }
        },
        "productOfferPriceAlteration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferPriceAlterationResponse"
          }
        },
        "recurringChargePeriod": {
          "type": "string"
        },
        "taxIncluded": {
          "type": "boolean"
        },
        "taxRate": {
          "format": "double",
          "type": "number"
        },
        "taxType": {
          "type": "string"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityResponse"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        }
      }
    },
    "ComposingProductRequest": {
      "title": "ComposingProductRequest",
      "type": "object",
      "properties": {
        "defaultCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "maxCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "minCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "periodDuration": {
          "type": "string"
        },
        "productPrice": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentProdOfferPriceRequest"
          }
        },
        "productType": {
          "type": "string"
        },
        "refinedProduct": {
          "$ref": "#/definitions/RefinedProductRequest"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComposingProductResponse": {
      "title": "ComposingProductResponse",
      "type": "object",
      "properties": {
        "defaultCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "maxCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "minCardinality": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "periodDuration": {
          "type": "string"
        },
        "productPrice": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentProdOfferPriceResponse"
          }
        },
        "productType": {
          "type": "string"
        },
        "refinedProduct": {
          "$ref": "#/definitions/RefinedProductResponse"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EntityRefRequest": {
      "title": "EntityRefRequest",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodRequest"
        }
      }
    },
    "EntityRefResponse": {
      "title": "EntityRefResponse",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        }
      }
    },
    "GenesisException": {
      "title": "GenesisException",
      "description": "Datos del error de sistema.",
      "type": "object",
      "properties": {
        "exceptionDetails": {
          "description": "Lista de detalles del error",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenesisExceptionDetail"
          }
        },
        "exceptionId": {
          "description": "Identificador de la excepción",
          "type": "string",
          "example": "SVC0001"
        },
        "exceptionText": {
          "description": "Descripcion del error de Sistema",
          "type": "string",
          "example": "Mensaje de error"
        },
        "moreInfo": {
          "description": "URI donde se proporciona más información sobre la excepción",
          "type": "string",
          "example": "https://help.tdp.com/2020"
        },
        "properties": {
          "description": "Lista de propiedades especiales.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Serializable"
          }
        },
        "userMessage": {
          "description": "Descripcion del error de Sistema",
          "type": "string",
          "example": "Error al llamar al servicio"
        }
      }
    },
    "GenesisExceptionDetail": {
      "title": "GenesisExceptionDetail",
      "description": "Datos del error t&eacute;cnico.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Codigo de error del Detalle/Proveedor",
          "type": "string",
          "example": "MB0008"
        },
        "component": {
          "description": "Nombre del componente de falla",
          "type": "string",
          "example": "MB.ProductsV2"
        },
        "description": {
          "description": "Descripcion del Detalle",
          "type": "string",
          "example": "Codigo invalido para el canal"
        }
      }
    },
    "InfoAttachmentRequest": {
      "title": "InfoAttachmentRequest",
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "InfoAttachmentResponse": {
      "title": "InfoAttachmentResponse",
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "KeyValueRequest": {
      "title": "KeyValueRequest",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "KeyValueResponse": {
      "title": "KeyValueResponse",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "MoneyRequest": {
      "title": "MoneyRequest",
      "required": [
        "amount"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number"
        },
        "units": {
          "type": "string"
        }
      }
    },
    "MoneyResponse": {
      "title": "MoneyResponse",
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number"
        },
        "units": {
          "type": "string"
        }
      }
    },
    "OfferPriceAlterationRequest": {
      "title": "OfferPriceAlterationRequest",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MoneyRequest"
          }
        },
        "applicationDuration": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "discountType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/MoneyRequest"
        },
        "priceCondition": {
          "type": "string"
        },
        "priceType": {
          "type": "string"
        },
        "recurringChargePeriod": {
          "type": "string"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityRequest"
        }
      }
    },
    "OfferPriceAlterationResponse": {
      "title": "OfferPriceAlterationResponse",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MoneyResponse"
          }
        },
        "applicationDuration": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "discountType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/MoneyResponse"
        },
        "priceCondition": {
          "type": "string"
        },
        "priceType": {
          "type": "string"
        },
        "recurringChargePeriod": {
          "type": "string"
        },
        "unitOfMeasure": {
          "$ref": "#/definitions/QuantityResponse"
        }
      }
    },
    "PlanRequest": {
      "title": "PlanRequest",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueRequest"
          }
        },
        "catalogId": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "lifeCycleStatus": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "offerings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityRefRequest"
          }
        },
        "periodDuration": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productPrice": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentProdOfferPriceRequest"
          }
        },
        "productSpecCharacteristic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicRequest"
          }
        },
        "startDate": {
          "type": "string"
        }
      }
    },
    "PlanResponse": {
      "title": "PlanResponse",
      "type": "object",
      "properties": {
        "additionalData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueResponse"
          }
        },
        "catalogId": {
          "type": "string"
        },
        "createDate": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "lifeCycleStatus": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "offerings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityRefResponse"
          }
        },
        "periodDuration": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productPrice": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentProdOfferPriceResponse"
          }
        },
        "productSpecCharacteristic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicResponse"
          }
        },
        "startDate": {
          "type": "string"
        }
      }
    },
    "ProductSpecRelationshipResponse": {
      "title": "ProductSpecRelationshipResponse",
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriodResponse"
        }
      }
    },
    "QuantityRequest": {
      "title": "QuantityRequest",
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number"
        },
        "maximum": {
          "format": "double",
          "type": "number"
        },
        "minimum": {
          "format": "double",
          "type": "number"
        },
        "units": {
          "type": "string"
        }
      }
    },
    "QuantityResponse": {
      "title": "QuantityResponse",
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number"
        },
        "maximum": {
          "format": "double",
          "type": "number"
        },
        "minimum": {
          "format": "double",
          "type": "number"
        },
        "units": {
          "type": "string"
        }
      }
    },
    "RefinedProductRequest": {
      "title": "RefinedProductRequest",
      "type": "object",
      "properties": {
        "productCharacteristics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicRequest"
          }
        },
        "subProducts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComposingProductRequest"
          }
        }
      }
    },
    "RefinedProductResponse": {
      "title": "RefinedProductResponse",
      "type": "object",
      "properties": {
        "productCharacteristics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharacteristicResponse"
          }
        },
        "subProducts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComposingProductResponse"
          }
        }
      }
    },
    "Serializable": {
      "title": "Serializable",
      "type": "object"
    },
    "TimePeriodRequest": {
      "title": "TimePeriodRequest",
      "type": "object",
      "properties": {
        "endDateTime": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        }
      }
    },
    "TimePeriodResponse": {
      "title": "TimePeriodResponse",
      "type": "object",
      "properties": {
        "endDateTime": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "catalogue-controller",
      "description": "Catalogue Controller"
    }
  ]
}