{
  "swagger": "2.0",
  "info": {
    "title": "Factory Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/factory",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/factory/company": {
      "get": {
        "description": "getCompanyBySubscription",
        "operationId": "getCompanyBySubscriptionUsingGET",
        "summary": "getCompanyBySubscription",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "subscription",
            "in": "query",
            "description": "subscription",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«CompanyResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/dashboard": {
      "get": {
        "description": "groupProducts",
        "operationId": "groupProductsUsingGET",
        "summary": "groupProducts",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "virtual",
            "in": "query",
            "description": "virtual",
            "type": "boolean",
            "default": "False"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«GroupDashBoard»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/filter": {
      "get": {
        "description": "filterFactory",
        "operationId": "filterFactoryUsingGET",
        "summary": "filterFactory",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "type": "string"
          },
          {
            "name": "groupProducts",
            "in": "query",
            "description": "groupProducts",
            "type": "string"
          },
          {
            "name": "idFatherPlan",
            "in": "query",
            "description": "idFatherPlan",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "product",
            "in": "query",
            "description": "product",
            "type": "string"
          },
          {
            "name": "request",
            "in": "query",
            "description": "request",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          },
          {
            "name": "virtual",
            "in": "query",
            "description": "virtual",
            "type": "boolean",
            "default": "False"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«FactoryResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/filter-combo": {
      "get": {
        "description": "filterFactoryCombo",
        "operationId": "filterFactoryComboUsingGET",
        "summary": "filterFactoryCombo",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "type": "string"
          },
          {
            "name": "groupProducts",
            "in": "query",
            "description": "groupProducts",
            "type": "string"
          },
          {
            "name": "idFatherPlan",
            "in": "query",
            "description": "idFatherPlan",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "product",
            "in": "query",
            "description": "product",
            "type": "string"
          },
          {
            "name": "request",
            "in": "query",
            "description": "request",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "typeCombo",
            "in": "query",
            "description": "typeCombo",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          },
          {
            "name": "virtual",
            "in": "query",
            "description": "virtual",
            "type": "boolean",
            "default": "False"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/filter-count": {
      "get": {
        "description": "filterFactoryCount",
        "operationId": "filterFactoryCountUsingGET",
        "summary": "filterFactoryCount",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "type": "string"
          },
          {
            "name": "groupProducts",
            "in": "query",
            "description": "groupProducts",
            "type": "string"
          },
          {
            "name": "idFatherPlan",
            "in": "query",
            "description": "idFatherPlan",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "product",
            "in": "query",
            "description": "product",
            "type": "string"
          },
          {
            "name": "request",
            "in": "query",
            "description": "request",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          },
          {
            "name": "virtual",
            "in": "query",
            "description": "virtual",
            "type": "boolean",
            "default": "False"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«PageCountResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/get-subscription": {
      "get": {
        "description": "getSubscription",
        "operationId": "getSubscriptionUsingGET",
        "summary": "getSubscription",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "ruc",
            "in": "query",
            "description": "ruc",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«SubscriptionResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/get-subscription-count": {
      "get": {
        "description": "getSubscriptionCount",
        "operationId": "getSubscriptionCountUsingGET",
        "summary": "getSubscriptionCount",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "ruc",
            "in": "query",
            "description": "ruc",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«PageCountResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/digital-product": {
      "post": {
        "description": "crear y guarda los productos digitales en la coleccion factory",
        "operationId": "createDigitalProductUsingPOST",
        "summary": "Create Digital Product",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "digitalProductRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DigitalProductRequest"
            },
            "description": "digitalProductRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigitalProductResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial": {
      "get": {
        "description": "saveFinancial",
        "operationId": "saveFinancialUsingGET",
        "summary": "saveFinancial",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«UpdateFinancialAccountResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial-account": {
      "get": {
        "description": "lista las cuentas financieras",
        "operationId": "getFinancialAccountUsingGET",
        "summary": "obtiene todas las cuentas financieras",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FactoryFinancial-accountGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial-account-count": {
      "get": {
        "description": "contador",
        "operationId": "getFinancialAccountCountUsingGET",
        "summary": "contador de cuentas financieras",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FactoryFinancial-account-countGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial-account-dashboard": {
      "get": {
        "description": "resume",
        "operationId": "getFinancialAccountCountUsingGET_1",
        "summary": "resumen de financial account",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FactoryFinancial-account-dashboardGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial/update": {
      "put": {
        "description": "updateFinancialAccount",
        "operationId": "updateFinancialAccountUsingPUT",
        "summary": "updateFinancialAccount",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "financialAccountRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FinancialAccountRequest"
            },
            "description": "financialAccountRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«FinancialAccountSaveResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financial-account/detail/{financialAccountId}": {
      "get": {
        "description": "saveFinancing",
        "operationId": "saveFinancingUsingGET",
        "summary": "saveFinancing",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "financialAccountId",
            "in": "path",
            "description": "financialAccountId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«FinancialAccountDetailResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financing": {
      "post": {
        "description": "saveFinancing",
        "operationId": "saveFinancingUsingPOST",
        "summary": "saveFinancing",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "financingRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FinancingRequest"
            },
            "description": "financingRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Mono«FinancingResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financing/report": {
      "get": {
        "description": "generateReport",
        "operationId": "generateReportUsingGET",
        "summary": "generateReport",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«FinancingEntity»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financing/report-osiptel": {
      "get": {
        "description": "generateReportOsiptel",
        "operationId": "generateReportOsiptelUsingGET",
        "summary": "generateReportOsiptel",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«FinancingEntity»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/financing-by-fa": {
      "get": {
        "description": "getFinancing",
        "operationId": "getFinancingUsingGET",
        "summary": "getFinancing",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "financialAccount",
            "in": "query",
            "description": "financialAccount",
            "required": true,
            "type": "string"
          },
          {
            "name": "numberDocument",
            "in": "query",
            "description": "numberDocument",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeDocument",
            "in": "query",
            "description": "typeDocument",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flux«FinancingInfoResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/factory/digital-product/cancel": {
      "post": {
        "description": "cancela un producto digital en la coleccion factory",
        "operationId": "cancelDigitalProductUsingPOST",
        "summary": "Cancel Digital Product",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "cancelDigitalProductRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CancelDigitalProductRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigitalProductResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/report/financing": {
      "get": {
        "description": "reportFinancingCsv",
        "operationId": "reportFinancingCsvUsingGET",
        "summary": "reportFinancingCsv",
        "tags": [
          "report-controller"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "AttachmentCaseRequest": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "internal": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "size": {
          "type": "string"
        }
      },
      "title": "AttachmentCaseRequest"
    },
    "BillingDetailEntity": {
      "type": "object",
      "properties": {
        "billingInvoiceNumber": {
          "type": "string"
        },
        "debtToFinance": {
          "type": "number",
          "format": "double"
        },
        "dueDate": {
          "type": "string",
          "format": "date"
        },
        "invoiceIdMobile": {
          "type": "string"
        },
        "mobileIssueDate": {
          "type": "string",
          "format": "date"
        },
        "typeDocumentLandLine": {
          "type": "string"
        }
      },
      "title": "BillingDetailEntity"
    },
    "CancelDigitalProductRequest": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "factoryId": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        }
      },
      "title": "CancelDigitalProductRequest"
    },
    "CancelDigitalProductResponse": {
      "type": "object",
      "properties": {
        "completed": {
          "type": "boolean"
        },
        "factoryId": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "CancelDigitalProductResponse"
    },
    "CaseDetailResponse": {
      "type": "object",
      "properties": {
        "caseCode": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "CaseDetailResponse"
    },
    "CaseRequest": {
      "type": "object",
      "properties": {
        "attachment": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentCaseRequest"
          }
        },
        "comment": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommentCaseRequest"
          }
        },
        "companyId": {
          "type": "string"
        },
        "contactId": {
          "type": "string"
        },
        "contactInfo": {
          "$ref": "#/definitions/ContactInfoRequest"
        },
        "dynamicGuide": {
          "type": "object"
        },
        "fatherCaseCode": {
          "type": "string"
        },
        "internal": {
          "type": "boolean"
        },
        "origin": {
          "$ref": "#/definitions/OriginCaseRequest"
        },
        "petition": {
          "type": "string"
        },
        "priority": {
          "type": "string"
        },
        "service": {
          "$ref": "#/definitions/ServiceCaseRequest"
        },
        "thematicId": {
          "type": "string"
        },
        "userAction": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "CaseRequest"
    },
    "CommentCaseRequest": {
      "type": "object",
      "properties": {
        "internal": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        }
      },
      "title": "CommentCaseRequest"
    },
    "CompanyResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "CompanyResponse"
    },
    "ContactInfoRequest": {
      "type": "object",
      "properties": {
        "calledPhoneNumber": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "numberDocument": {
          "type": "string"
        }
      },
      "title": "ContactInfoRequest"
    },
    "DetailBilling": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        },
        "billingInvoiceNumber": {
          "type": "string"
        },
        "dueDate": {
          "type": "string",
          "format": "date"
        },
        "issueDate": {
          "type": "string",
          "format": "date"
        },
        "numberReceipt": {
          "type": "string"
        },
        "typeDocumentLandLine": {
          "type": "string"
        }
      },
      "title": "DetailBilling"
    },
    "DetailBillingResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        },
        "billingInvoiceNumber": {
          "type": "string"
        },
        "dueDate": {
          "type": "string"
        },
        "issueDate": {
          "type": "string"
        },
        "numberReceipt": {
          "type": "string"
        },
        "typeDocumentLandLine": {
          "type": "string"
        }
      },
      "title": "DetailBillingResponse"
    },
    "DigitalProductRequest": {
      "type": "object",
      "properties": {
        "chargePlan": {
          "type": "string"
        },
        "chargePlanPadre": {
          "type": "string"
        },
        "codGrouper": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "companyCode": {
          "type": "string"
        },
        "createDate": {
          "type": "string",
          "format": "date-time"
        },
        "documentOwner": {
          "type": "string"
        },
        "durationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "factoryId": {
          "type": "string"
        },
        "fullNameOwner": {
          "type": "string"
        },
        "groupProducts": {
          "type": "string"
        },
        "highDate": {
          "type": "string",
          "format": "date"
        },
        "idFatherPlan": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "nameCommercialPlan": {
          "type": "string"
        },
        "nameFatherPlan": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "numberAssociated": {
          "type": "string"
        },
        "product": {
          "type": "string"
        },
        "providerServiceDate": {
          "type": "string",
          "format": "date-time"
        },
        "providerServiceId": {
          "type": "string"
        },
        "purchaseOrderCode": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "typeDocument": {
          "type": "string"
        },
        "typeDocumentOwner": {
          "type": "string"
        },
        "typeProduct": {
          "type": "string"
        },
        "typeService": {
          "type": "string"
        }
      },
      "title": "DigitalProductRequest"
    },
    "DigitalProductResponse": {
      "type": "object",
      "properties": {
        "factoryId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "DigitalProductResponse"
    },
    "FactoryResponse": {
      "type": "object",
      "properties": {
        "activationDate": {
          "type": "string"
        },
        "codeOwner": {
          "type": "string"
        },
        "codeProduct": {
          "type": "string"
        },
        "endDateDigital": {
          "type": "string"
        },
        "financialAccount": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nameFatherPlan": {
          "type": "string"
        },
        "product": {
          "type": "string"
        },
        "productCatalogCode": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "FactoryResponse"
    },
    "FinancialAccountDetailResponse": {
      "type": "object",
      "properties": {
        "amountToFinance": {
          "type": "number",
          "format": "double"
        },
        "billingArrangement": {
          "type": "string"
        },
        "billingCycle": {
          "type": "string"
        },
        "caseDetail": {
          "$ref": "#/definitions/CaseDetailResponse"
        },
        "codeCompany": {
          "type": "string"
        },
        "customerCode": {
          "type": "string"
        },
        "detailBilling": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DetailBillingResponse"
          }
        },
        "factoryId": {
          "type": "string"
        },
        "financialAccount": {
          "type": "string"
        },
        "financingProcess": {
          "type": "boolean"
        },
        "grouped": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "lastBilling": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "subscription": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "totalDebt": {
          "type": "number",
          "format": "double"
        },
        "typeService": {
          "type": "string"
        }
      },
      "title": "FinancialAccountDetailResponse"
    },
    "FinancialAccountRequest": {
      "type": "object",
      "properties": {
        "amountToFinance": {
          "type": "number",
          "format": "double"
        },
        "billingArrangement": {
          "type": "string"
        },
        "billingCycle": {
          "type": "string"
        },
        "codeCompany": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "customerCode": {
          "type": "string"
        },
        "detailBilling": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DetailBilling"
          }
        },
        "id": {
          "type": "string"
        },
        "primaryFactoryId": {
          "type": "string"
        },
        "primaryNumberResource": {
          "type": "string"
        },
        "subscription": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "totalDebt": {
          "type": "number",
          "format": "double"
        },
        "typeServices": {
          "type": "string"
        }
      },
      "title": "FinancialAccountRequest"
    },
    "FinancialAccountResponse": {
      "type": "object",
      "properties": {
        "caseDetail": {
          "$ref": "#/definitions/CaseDetailResponse"
        },
        "customerCode": {
          "type": "string"
        },
        "financialAccount": {
          "type": "string"
        },
        "grouped": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "numberAssociated": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "FinancialAccountResponse"
    },
    "FinancialAccountResume": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "FinancialAccountResume"
    },
    "FinancialAccountSaveResponse": {
      "type": "object",
      "properties": {
        "financialAccount": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "FinancialAccountSaveResponse"
    },
    "FinancingEntity": {
      "type": "object",
      "properties": {
        "acceptTermsAndConditions": {
          "type": "boolean"
        },
        "amountToFinance": {
          "type": "number",
          "format": "double"
        },
        "billingArrangement": {
          "type": "string"
        },
        "billingDetail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingDetailEntity"
          }
        },
        "caseCode": {
          "type": "string"
        },
        "caseDetail": {
          "$ref": "#/definitions/CaseDetailResponse"
        },
        "company": {
          "$ref": "#/definitions/CompanyResponse"
        },
        "companyNumberDocument": {
          "type": "string"
        },
        "companyTypeDocument": {
          "type": "string"
        },
        "createUserCode": {
          "type": "string"
        },
        "currencyUnit": {
          "type": "string"
        },
        "customerId": {
          "type": "string"
        },
        "cycleCode": {
          "type": "string"
        },
        "cycleStarDate": {
          "type": "string",
          "format": "date"
        },
        "factoryId": {
          "type": "string"
        },
        "financialAccount": {
          "type": "string"
        },
        "financingDate": {
          "type": "string",
          "format": "date-time"
        },
        "financingPlan": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "mte": {
          "type": "boolean"
        },
        "numberOfLine": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfReceipt": {
          "type": "integer",
          "format": "int32"
        },
        "pastDueDebt": {
          "type": "number",
          "format": "double"
        },
        "primaryResource": {
          "type": "string"
        },
        "status": {
          "type": "boolean"
        },
        "statusCase": {
          "type": "string"
        },
        "totalDebt": {
          "type": "number",
          "format": "double"
        },
        "typeService": {
          "type": "string"
        }
      },
      "title": "FinancingEntity"
    },
    "FinancingInfoResponse": {
      "type": "object",
      "properties": {
        "billingDetail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingDetailEntity"
          }
        },
        "caseDetail": {
          "$ref": "#/definitions/CaseDetailResponse"
        },
        "financialAccount": {
          "type": "string"
        },
        "financingDate": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "title": "FinancingInfoResponse"
    },
    "FinancingRequest": {
      "type": "object",
      "properties": {
        "caseRequest": {
          "$ref": "#/definitions/CaseRequest"
        },
        "financialAccountId": {
          "type": "string"
        },
        "financingPlan": {
          "type": "string"
        },
        "typeDevice": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "FinancingRequest"
    },
    "FinancingResponse": {
      "type": "object",
      "properties": {
        "caseCode": {
          "type": "integer",
          "format": "int32"
        },
        "caseId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "FinancingResponse"
    },
    "Flux«FactoryResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«FactoryResponse»"
    },
    "Flux«FinancialAccountResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«FinancialAccountResponse»"
    },
    "Flux«FinancialAccountResume»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«FinancialAccountResume»"
    },
    "Flux«FinancingEntity»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«FinancingEntity»"
    },
    "Flux«FinancingInfoResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«FinancingInfoResponse»"
    },
    "Flux«GroupDashBoard»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«GroupDashBoard»"
    },
    "Flux«SubscriptionResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«SubscriptionResponse»"
    },
    "Flux«UpdateFinancialAccountResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«UpdateFinancialAccountResponse»"
    },
    "Flux«object»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«object»"
    },
    "GroupDashBoard": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "string"
        }
      },
      "title": "GroupDashBoard"
    },
    "Mono«CancelDigitalProductResponse»": {
      "type": "object",
      "title": "Mono«CancelDigitalProductResponse»"
    },
    "Mono«CompanyResponse»": {
      "type": "object",
      "title": "Mono«CompanyResponse»"
    },
    "Mono«DigitalProductResponse»": {
      "type": "object",
      "title": "Mono«DigitalProductResponse»"
    },
    "Mono«FinancialAccountDetailResponse»": {
      "type": "object",
      "title": "Mono«FinancialAccountDetailResponse»"
    },
    "Mono«FinancialAccountSaveResponse»": {
      "type": "object",
      "title": "Mono«FinancialAccountSaveResponse»"
    },
    "Mono«FinancingResponse»": {
      "type": "object",
      "title": "Mono«FinancingResponse»"
    },
    "Mono«PageCountResponse»": {
      "type": "object",
      "title": "Mono«PageCountResponse»"
    },
    "OriginCaseRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeRequest"
          }
        }
      },
      "title": "OriginCaseRequest"
    },
    "PageCountResponse": {
      "type": "object",
      "properties": {
        "totalElements": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "PageCountResponse"
    },
    "ProductCaseRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "title": "ProductCaseRequest"
    },
    "ServiceCaseRequest": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "product": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCaseRequest"
          }
        },
        "subscription": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      },
      "title": "ServiceCaseRequest"
    },
    "SubscriptionResponse": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "SubscriptionResponse"
    },
    "TypeRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "title": "TypeRequest"
    },
    "UpdateFinancialAccountResponse": {
      "type": "object",
      "properties": {
        "financialAccount": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "typeService": {
          "type": "string"
        }
      },
      "title": "UpdateFinancialAccountResponse"
    },
    "FactoryFinancial-accountGet200-Response": {
      "type": "string"
    },
    "FactoryFinancial-accountGet200ApplicationJsonResponse": {
      "type": "string"
    },
    "FactoryFinancial-account-countGet200-Response": {
      "type": "string"
    },
    "FactoryFinancial-account-countGet200ApplicationJsonResponse": {
      "type": "string"
    },
    "FactoryFinancial-account-dashboardGet200-Response": {
      "type": "string"
    },
    "FactoryFinancial-account-dashboardGet200ApplicationJsonResponse": {
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "factory-controller",
      "description": "Factory Controller"
    },
    {
      "name": "report-controller",
      "description": "Report Controller"
    }
  ]
}