{
  "swagger": "2.0",
  "info": {
    "title": "File Negocio Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/file-ne",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/file/case/uploadFile": {
      "post": {
        "description": "Almacena archivos adjuntos de los casos",
        "operationId": "uploadFileUsingPOST",
        "summary": "Almacena archivos adjuntos de los casos",
        "tags": [
          "file-case-controller"
        ],
        "parameters": [
          {
            "name": "Nuevo archivo para caso nuevo",
            "in": "query",
            "description": "Nuevo archivo para caso nuevo",
            "type": "string",
            "default": "true"
          },
          {
            "name": "Objeto con datos para el historial",
            "in": "query",
            "description": "Objeto con datos para el historial",
            "type": "string",
            "default": "{\"idCase\": \"5d1fc0bb7ebb5112999b4793\",\"createBy\": {\"codeUser\": \"DNI-33333333\"},\"file\": {\"name\": \"hola (11).pdf\",\"type\": \".png\",\"comment\": \"subiendo archivos\",\"internal\": false\t},\"typeUser\": \"CLIENTE\",\"type\": \"ARCHIVO\"}"
          },
          {
            "name": "Tipo de usuario AGENTE O CLIENTE",
            "in": "query",
            "description": "Tipo de usuario AGENTE O CLIENTE",
            "type": "string",
            "default": "AGENTE"
          },
          {
            "name": "caseId",
            "in": "query",
            "description": "caseId",
            "type": "string",
            "default": "caseId"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "type": "file",
            "default": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileCaseUploadFilePost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/certification": {
      "put": {
        "description": "updateCertificationStatus",
        "operationId": "updateCertificationStatusUsingPUT",
        "summary": "updateCertificationStatus",
        "tags": [
          "file-controller"
        ],
        "parameters": [
          {
            "name": "updateStatusRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateStatusRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CertificationResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/certification/uploadFile": {
      "post": {
        "description": "Subida de archivos de certificación",
        "operationId": "uploadFileUsingPOST_1",
        "summary": "Subida de archivos de certificación",
        "tags": [
          "file-controller"
        ],
        "parameters": [
          {
            "name": "datos del archivo de certificacion",
            "in": "query",
            "description": "datos del archivo de certificacion",
            "type": "string",
            "default": "[{\"companyCode\": \"5d0853c0c2c83f382515b8ce\",\"userCode\": \"DNI-33333333\", \"certificationName\": \"VIGENCIA_PODER\"}]"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file.extension",
            "type": "file",
            "default": "hola.png"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/deleteFile/{id}": {
      "delete": {
        "description": "deleteFile",
        "operationId": "deleteFileUsingDELETE",
        "summary": "deleteFile",
        "tags": [
          "file-controller"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/file/detailCertification": {
      "get": {
        "description": "getFiles",
        "operationId": "getFilesUsingGET",
        "summary": "getFiles",
        "tags": [
          "file-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "query",
            "description": "companyCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "userCode",
            "in": "query",
            "description": "userCode",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileCertificationResponseArray"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/downloadFile/{fileName}": {
      "get": {
        "description": "Descarga archivos de casos y de certificacion y mas",
        "operationId": "downloadFileUsingGET",
        "summary": "Descarga archivos de casos y de certificacion y mas",
        "tags": [
          "file-controller"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "fileName",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "type": "string"
          },
          {
            "name": "caseId",
            "in": "query",
            "description": "caseId",
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "companyId",
            "type": "string"
          },
          {
            "name": "userCode",
            "in": "query",
            "description": "userCode",
            "type": "string"
          },
          {
            "name": "view",
            "in": "query",
            "description": "view",
            "type": "boolean",
            "default": "False"
          }
        ],
        "produces": [
          "image/png",
          "application/pdf",
          "image/jpg"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/product/removeImage": {
      "delete": {
        "description": "Eliminar una imagen del producto",
        "operationId": "removeImageUsingDELETE",
        "summary": "Eliminar una imagen del producto",
        "tags": [
          "file-product-controller"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "productId",
            "in": "query",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/stream+json",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se eliminó correctamente la imagen",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontró el producto"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/file/product/uploadImage": {
      "post": {
        "description": "Subida de imagenes del product",
        "operationId": "uploadFileUsingPOST_2",
        "summary": "Subida de imagenes del product",
        "tags": [
          "file-product-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "description": "productId",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/stream+json",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se subio correctamente la imagen",
            "schema": {
              "$ref": "#/definitions/FileResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontró el producto"
          },
          "409": {
            "description": "Ya existen 5 imagenes para el producto"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/file/commercial-activities/file-download": {
      "get": {
        "description": "Obtiene el archivo PDF de las acciones comerciales.",
        "operationId": "fileDownloadUsingGET",
        "summary": "Obtiene el archivo PDF de las acciones comerciales.",
        "tags": [
          "file-commercial-controller"
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Format - int32. month",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "reportType",
            "required": true,
            "type": "string",
            "enum": [
              "SUMMARY",
              "COMPLETE"
            ]
          },
          {
            "name": "serviceType",
            "in": "query",
            "description": "serviceType",
            "required": true,
            "type": "string",
            "enum": [
              "MOBILE",
              "TRADITIONAL",
              "ADVANCED"
            ]
          },
          {
            "name": "view",
            "in": "query",
            "description": "view",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "year",
            "in": "query",
            "description": "Format - int32. year",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InputStreamResource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/commercial-activities/file-upload": {
      "post": {
        "description": "Subida de archivos de acciones comerciales",
        "operationId": "fileUploadUsingPOST",
        "summary": "Subida de archivos de acciones comerciales",
        "tags": [
          "file-commercial-controller"
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Format - int32. month",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "reportType",
            "required": true,
            "type": "string",
            "enum": [
              "SUMMARY",
              "COMPLETE"
            ]
          },
          {
            "name": "serviceType",
            "in": "query",
            "description": "serviceType",
            "required": true,
            "type": "string",
            "enum": [
              "MOBILE",
              "TRADITIONAL",
              "ADVANCED"
            ]
          },
          {
            "name": "year",
            "in": "query",
            "description": "Format - int32. year",
            "required": true,
            "type": "integer"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileAcBasicResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/commercial-activities/file-delete": {
      "delete": {
        "description": "Elimina el archivo PDF de las acciones comerciales.",
        "operationId": "fileDeleteUsingDELETE",
        "summary": "Elimina el archivo PDF de las acciones comerciales.",
        "tags": [
          "file-commercial-controller"
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Format - int32. month",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "reportType",
            "required": true,
            "type": "string",
            "enum": [
              "SUMMARY",
              "COMPLETE"
            ]
          },
          {
            "name": "serviceType",
            "in": "query",
            "description": "serviceType",
            "required": true,
            "type": "string",
            "enum": [
              "MOBILE",
              "TRADITIONAL",
              "ADVANCED"
            ]
          },
          {
            "name": "year",
            "in": "query",
            "description": "Format - int32. year",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileAcBasicResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/file/commercial-activities/file-info": {
      "get": {
        "description": "Obtiene informacion del el archivo PDF de las acciones comerciales.",
        "operationId": "fileInfoUsingGET",
        "summary": "Obtiene informacion del archivo PDF de las acciones comerciales.",
        "tags": [
          "file-commercial-controller"
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Format - int32. month",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "reportType",
            "required": true,
            "type": "string",
            "enum": [
              "SUMMARY",
              "COMPLETE"
            ]
          },
          {
            "name": "serviceType",
            "in": "query",
            "description": "serviceType",
            "required": true,
            "type": "string",
            "enum": [
              "MOBILE",
              "TRADITIONAL",
              "ADVANCED"
            ]
          },
          {
            "name": "year",
            "in": "query",
            "description": "Format - int32. year",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileAcInfoResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/case/get-file-app": {
      "get": {
        "description": "Descarga las apks",
        "operationId": "getFileAppUsingGET",
        "summary": "Descarga las apks",
        "tags": [
          "file-case-controller"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/case/get-info-app": {
      "get": {
        "description": "Obtiene info de las apks",
        "operationId": "getInfoAppUsingGET",
        "summary": "Obtiene info de las apks",
        "tags": [
          "file-case-controller"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InfoAppResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/case/upload-file-app": {
      "post": {
        "description": "Almacena apk",
        "operationId": "uploadAppUsingPOST",
        "summary": "Almacena apk",
        "tags": [
          "file-case-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "type": "file",
            "default": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileCaseUpload-file-appPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/file/case/upload-info-app": {
      "post": {
        "description": "Almacena info adicional de apks",
        "operationId": "uploadInfoAppUsingPOST",
        "summary": "Almacena info adicional de apks",
        "tags": [
          "file-case-controller"
        ],
        "parameters": [
          {
            "name": "infoAppRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InfoAppRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileCaseUpload-info-appPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "CertificationResponse": {
      "type": "object",
      "properties": {
        "certificationStatus": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "CertificationResponse"
    },
    "Contact": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      },
      "title": "Contact"
    },
    "File": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "absoluteFile": {
          "$ref": "#/definitions/File"
        },
        "absolutePath": {
          "type": "string"
        },
        "canonicalFile": {
          "$ref": "#/definitions/File"
        },
        "canonicalPath": {
          "type": "string"
        },
        "directory": {
          "type": "boolean"
        },
        "file": {
          "type": "boolean"
        },
        "freeSpace": {
          "type": "integer",
          "format": "int64"
        },
        "hidden": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "parentFile": {
          "$ref": "#/definitions/File"
        },
        "path": {
          "type": "string"
        },
        "totalSpace": {
          "type": "integer",
          "format": "int64"
        },
        "usableSpace": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "File"
    },
    "FileAcBasicResponse": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "FileAcBasicResponse"
    },
    "FileAcInfoResponse": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "fileProperties": {
          "$ref": "#/definitions/FileAcPropResponse"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "FileAcInfoResponse"
    },
    "FileAcPropResponse": {
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "lastModified": {
          "type": "string"
        },
        "lengthBytes": {
          "type": "integer",
          "format": "int64"
        },
        "lengthText": {
          "type": "string"
        }
      },
      "title": "FileAcPropResponse"
    },
    "FileCertificationResponse": {
      "type": "object",
      "properties": {
        "certificationName": {
          "type": "string"
        },
        "companyCode": {
          "type": "string"
        },
        "fileType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "size": {
          "type": "integer",
          "format": "int64"
        },
        "statusFile": {
          "type": "boolean"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "FileCertificationResponse"
    },
    "FileResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "FileResponse"
    },
    "InfoAppRequest": {
      "type": "object",
      "properties": {
        "creationDate": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "fileOriginalName": {
          "type": "string"
        },
        "fileSize": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "info": {
          "type": "string"
        },
        "updateDate": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "title": "InfoAppRequest"
    },
    "InfoAppResponse": {
      "type": "object",
      "properties": {
        "additionalInfo": {
          "type": "string"
        },
        "creationDate": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "fileSize": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "updateDate": {
          "type": "string"
        },
        "versionName": {
          "type": "string"
        }
      },
      "title": "InfoAppResponse"
    },
    "InputStream": {
      "type": "object",
      "title": "InputStream"
    },
    "InputStreamResource": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/File"
        },
        "filename": {
          "type": "string"
        },
        "inputStream": {
          "$ref": "#/definitions/InputStream"
        },
        "open": {
          "type": "boolean"
        },
        "readable": {
          "type": "boolean"
        },
        "uri": {
          "$ref": "#/definitions/URI"
        },
        "url": {
          "$ref": "#/definitions/URL"
        }
      },
      "title": "InputStreamResource"
    },
    "Mono«FileResponse»": {
      "type": "object",
      "title": "Mono«FileResponse»"
    },
    "Portfolio": {
      "type": "object",
      "properties": {
        "certificationStatus": {
          "type": "string"
        }
      },
      "title": "Portfolio"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/File"
        },
        "filename": {
          "type": "string"
        },
        "inputStream": {
          "$ref": "#/definitions/InputStream"
        },
        "open": {
          "type": "boolean"
        },
        "readable": {
          "type": "boolean"
        },
        "uri": {
          "$ref": "#/definitions/URI"
        },
        "url": {
          "$ref": "#/definitions/URL"
        }
      },
      "title": "Resource"
    },
    "URI": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "authority": {
          "type": "string"
        },
        "fragment": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "opaque": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "query": {
          "type": "string"
        },
        "rawAuthority": {
          "type": "string"
        },
        "rawFragment": {
          "type": "string"
        },
        "rawPath": {
          "type": "string"
        },
        "rawQuery": {
          "type": "string"
        },
        "rawSchemeSpecificPart": {
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string"
        },
        "scheme": {
          "type": "string"
        },
        "schemeSpecificPart": {
          "type": "string"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URI"
    },
    "URL": {
      "type": "object",
      "properties": {
        "authority": {
          "type": "string"
        },
        "content": {
          "type": "object"
        },
        "defaultPort": {
          "type": "integer",
          "format": "int32"
        },
        "file": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "ref": {
          "type": "string"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URL"
    },
    "URLStreamHandler": {
      "type": "object",
      "title": "URLStreamHandler"
    },
    "UpdateStatusRequest": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "internal": {
          "type": "boolean"
        },
        "status": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "UpdateStatusRequest"
    },
    "User": {
      "type": "object",
      "properties": {
        "contact": {
          "$ref": "#/definitions/Contact"
        },
        "id": {
          "type": "string"
        },
        "portfolio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Portfolio"
          }
        }
      },
      "title": "User"
    },
    "FileCaseUpload-file-appPost200-Response": {
      "type": "object"
    },
    "FileCaseUpload-file-appPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "FileCaseUpload-info-appPost200-Response": {
      "type": "object"
    },
    "FileCaseUpload-info-appPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "FileCaseUploadFilePost200-Response": {
      "type": "object"
    },
    "FileCaseUploadFilePost200ApplicationJsonResponse": {
      "type": "object"
    },
    "FileCertificationResponseArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/FileCertificationResponse"
      }
    }
  },
  "tags": [
    {
      "name": "file-controller",
      "description": "File Controller"
    },
    {
      "name": "file-case-controller",
      "description": "File Case Controller"
    },
    {
      "name": "file-product-controller",
      "description": "File Product Controller"
    },
    {
      "name": "file-commercial-controller",
      "description": "File Commercial Controller"
    }
  ]
}