{
  "swagger": "2.0",
  "info": {
    "title": "Migration Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/migration",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/bash-migrate/factory/run-batch-job": {
      "get": {
        "description": "Carga y procesa los archivos del servicio de getReport por RUC",
        "operationId": "loadFileByRucToPlantUsingGET",
        "summary": "Carga y procesa los archivos del servicio de getReport por RUC",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "ruc",
            "in": "query",
            "description": "ruc",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateFactoryRun-batch-jobGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/factory/validate-log": {
      "get": {
        "description": "Insertar el log correspondientes a una carga por RUC",
        "operationId": "getIfExistsLogUsingGET",
        "summary": "Insertar el log correspondientes a una carga por RUC",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "ruc",
            "in": "query",
            "description": "ruc",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateFactoryValidate-logGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/factory/uploadFile": {
      "post": {
        "description": "Carga y procesa los archivos del servicio de getReport de forma manual",
        "operationId": "uploadFileFactoryUsingPOST",
        "summary": "Carga y procesa los archivos del servicio de getReport de forma manual",
        "tags": [
          "factory-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateFactoryUploadFilePost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/opportunity/uploadFile": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de oportunidades",
        "operationId": "uploadFileOpportunityUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de oportunidades",
        "tags": [
          "opportunity-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateOpportunityUploadFilePost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/catalog/fixed-line/advanced/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de catalogos fija avanzada",
        "operationId": "uploadCatalogFixedLineAdvancedUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de catalogos fija avanzada",
        "tags": [
          "catalog-advanced-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadCatalogFixed-lineAdvancedSegmentPost200ApplicationJsonResp"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/catalog/fixed-line/traditional/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de catalogos fija Movil",
        "operationId": "uploadCatalogFixedLineTraditionalUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de catalogos fija Movil",
        "tags": [
          "catalog-traditional-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadCatalogFixed-lineTraditionalSegmentPost200ApplicationJsonR"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/catalog/mobile/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de catalogos movil",
        "operationId": "uploadCatalogMobileUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de catalogos movil",
        "tags": [
          "catalog-mobile-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadCatalogMobileSegmentPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/plan/fixed-line/advanced/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Planes Fija Avanzada",
        "operationId": "uploadPlanFixedLineAdvancedUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de Planes Fija Avanzada",
        "tags": [
          "plan-advanced-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadPlanFixed-lineAdvancedSegmentPost200ApplicationJsonRespons"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/plan/fixed-line/traditional/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Planes Fija Tradicional",
        "operationId": "uploadPlanFixedLineTraditionalUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de Planes Fija Tradicional",
        "tags": [
          "plan-traditional-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadPlanFixed-lineTraditionalSegmentPost200ApplicationJsonResp"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/plan/mobile/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Planes movil",
        "operationId": "uploadPlanMobileUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de Planes movil",
        "tags": [
          "plan-mobile-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadPlanMobileSegmentPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/product/{segment}": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Productos",
        "operationId": "uploadProductUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de Productos",
        "tags": [
          "product-controller"
        ],
        "parameters": [
          {
            "name": "segment",
            "in": "path",
            "description": "segment",
            "required": true,
            "type": "string",
            "enum": [
              "PREMIUM",
              "ALTOVALOR",
              "EMPRESAS"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadProductSegmentPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/offer": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de catalogos fija Movil",
        "operationId": "uploadCatalogFixedLineTraditionalUsingPOST_1",
        "summary": "Carga y procesa los archivos de carga masiva de catalogos fija Movil",
        "tags": [
          "offer-mte-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadOfferPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/company/run-batch-job": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Productos",
        "operationId": "uploadThematicUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de Productos",
        "tags": [
          "company-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateCompanyRun-batch-jobPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/contact/run-batch-job": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Productos",
        "operationId": "uploadThematicUsingPOST_1",
        "summary": "Carga y procesa los archivos de carga masiva de Productos",
        "tags": [
          "contacto-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateContactRun-batch-jobPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/thematic/run-batch-job": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de Productos",
        "operationId": "uploadThematicUsingPOST_2",
        "summary": "Carga y procesa los archivos de carga masiva de Productos",
        "tags": [
          "thematic-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateThematicRun-batch-jobPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/batch-company/brands": {
      "post": {
        "description": "companyBrands",
        "operationId": "companyBrandsUsingPOST",
        "summary": "companyBrands",
        "tags": [
          "company-brands-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bash-migrate/upload/digital-services": {
      "post": {
        "description": "Carga y procesa los archivos de carga masiva de productos digitales",
        "operationId": "addMassiveDigitalCatalogUsingPOST",
        "summary": "Carga y procesa los archivos de carga masiva de productos digitalers",
        "tags": [
          "digital-catalog-controller"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bash-migrateUploadDigital-servicesPost200ApplicationJsonResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/financing/load": {
      "get": {
        "description": "load",
        "operationId": "loadUsingGET",
        "summary": "load",
        "tags": [
          "financing-report-controller"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "FactoryResponse": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string"
        },
        "messageResponse": {
          "type": "string"
        }
      },
      "title": "FactoryResponse"
    },
    "File": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "absoluteFile": {
          "$ref": "#/definitions/File"
        },
        "absolutePath": {
          "type": "string"
        },
        "canonicalFile": {
          "$ref": "#/definitions/File"
        },
        "canonicalPath": {
          "type": "string"
        },
        "directory": {
          "type": "boolean"
        },
        "executable": {
          "type": "boolean"
        },
        "file": {
          "type": "boolean"
        },
        "freeSpace": {
          "type": "integer",
          "format": "int64"
        },
        "hidden": {
          "type": "boolean"
        },
        "lastModified": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "parentFile": {
          "$ref": "#/definitions/File"
        },
        "path": {
          "type": "string"
        },
        "readable": {
          "type": "boolean"
        },
        "totalSpace": {
          "type": "integer",
          "format": "int64"
        },
        "usableSpace": {
          "type": "integer",
          "format": "int64"
        },
        "writable": {
          "type": "boolean"
        }
      },
      "title": "File"
    },
    "GenericResponse": {
      "type": "object",
      "properties": {
        "messageResponse": {
          "type": "string"
        },
        "object": {
          "type": "object"
        }
      },
      "title": "GenericResponse"
    },
    "InputStream": {
      "type": "object",
      "title": "InputStream"
    },
    "JobError": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "error": {
          "type": "string"
        },
        "errorMap": {
          "type": "object"
        }
      },
      "title": "JobError"
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "MessageResponse"
    },
    "MigrateErrorResponse": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string"
        },
        "jobError": {
          "$ref": "#/definitions/JobError"
        },
        "messageResponse": {
          "type": "string"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32"
        },
        "statusName": {
          "type": "string"
        }
      },
      "title": "MigrateErrorResponse"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/File"
        },
        "filename": {
          "type": "string"
        },
        "inputStream": {
          "$ref": "#/definitions/InputStream"
        },
        "open": {
          "type": "boolean"
        },
        "readable": {
          "type": "boolean"
        },
        "uri": {
          "$ref": "#/definitions/URI"
        },
        "url": {
          "$ref": "#/definitions/URL"
        }
      },
      "title": "Resource"
    },
    "URI": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "authority": {
          "type": "string"
        },
        "fragment": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "opaque": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "query": {
          "type": "string"
        },
        "rawAuthority": {
          "type": "string"
        },
        "rawFragment": {
          "type": "string"
        },
        "rawPath": {
          "type": "string"
        },
        "rawQuery": {
          "type": "string"
        },
        "rawSchemeSpecificPart": {
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string"
        },
        "scheme": {
          "type": "string"
        },
        "schemeSpecificPart": {
          "type": "string"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URI"
    },
    "URL": {
      "type": "object",
      "properties": {
        "authority": {
          "type": "string"
        },
        "content": {
          "type": "object"
        },
        "defaultPort": {
          "type": "integer",
          "format": "int32"
        },
        "deserializedFields": {
          "$ref": "#/definitions/URLStreamHandler"
        },
        "file": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "ref": {
          "type": "string"
        },
        "serializedHashCode": {
          "type": "integer",
          "format": "int32"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URL"
    },
    "URLStreamHandler": {
      "type": "object",
      "title": "URLStreamHandler"
    },
    "Bash-migrateCompanyRun-batch-jobPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateContactRun-batch-jobPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateFactoryRun-batch-jobGet200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateFactoryUploadFilePost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateFactoryValidate-logGet200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateOpportunityUploadFilePost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateThematicRun-batch-jobPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateUploadCatalogFixed-lineAdvancedSegmentPost200ApplicationJsonResp": {
      "type": "object"
    },
    "Bash-migrateUploadCatalogFixed-lineTraditionalSegmentPost200ApplicationJsonR": {
      "type": "object"
    },
    "Bash-migrateUploadCatalogMobileSegmentPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateUploadDigital-servicesPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateUploadOfferPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateUploadPlanFixed-lineAdvancedSegmentPost200ApplicationJsonRespons": {
      "type": "object"
    },
    "Bash-migrateUploadPlanFixed-lineTraditionalSegmentPost200ApplicationJsonResp": {
      "type": "object"
    },
    "Bash-migrateUploadPlanMobileSegmentPost200ApplicationJsonResponse": {
      "type": "object"
    },
    "Bash-migrateUploadProductSegmentPost200ApplicationJsonResponse": {
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "product-controller",
      "description": "Product Controller"
    },
    {
      "name": "thematic-controller",
      "description": "Thematic Controller"
    },
    {
      "name": "company-controller",
      "description": "Company Controller"
    },
    {
      "name": "factory-controller",
      "description": "Factory Controller"
    },
    {
      "name": "contacto-controller",
      "description": "Contacto Controller"
    },
    {
      "name": "opportunity-controller",
      "description": "Opportunity Controller"
    },
    {
      "name": "plan-advanced-controller",
      "description": "Plan Advanced Controller"
    },
    {
      "name": "plan-mobile-controller",
      "description": "Plan Mobile Controller"
    },
    {
      "name": "plan-traditional-controller",
      "description": "Plan Traditional Controller"
    },
    {
      "name": "catalog-advanced-controller",
      "description": "Catalog Advanced Controller"
    },
    {
      "name": "catalog-mobile-controller",
      "description": "Catalog Mobile Controller"
    },
    {
      "name": "catalog-traditional-controller",
      "description": "Catalog Traditional Controller"
    },
    {
      "name": "offer-mte-controller",
      "description": "Offer MTE Controller"
    },
    {
      "name": "company-brands-controller",
      "description": "Company Brands Controller"
    },
    {
      "name": "digital-catalog-controller",
      "description": "Digital Catalog Controller"
    },
    {
      "name": "financing-report-controller",
      "description": "Financing Report Controller"
    }
  ]
}