{
  "swagger": "2.0",
  "info": {
    "title": "Nps Feedback Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/nps-feedback-api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/nps/detail": {
      "get": {
        "description": "detalle nps",
        "operationId": "getDetailNpsUsingGET",
        "summary": "resultados el NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeUser",
            "in": "query",
            "description": "typeUser",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/find": {
      "get": {
        "description": "resultados el NPS",
        "operationId": "getCaseAppDetailUsingGET",
        "summary": "resultados del NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeUser",
            "in": "query",
            "description": "typeUser",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/save": {
      "post": {
        "description": "guarda el NPS",
        "operationId": "getCaseAppDetailUsingPOST",
        "summary": "guarda el NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "netPromoterScoreRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NetPromoterScoreRequest"
            },
            "description": "netPromoterScoreRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/total-comment": {
      "get": {
        "description": "total de usuarios",
        "operationId": "getTotalCommentByRangeUsingGET",
        "summary": "total de usuarios del NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeUser",
            "in": "query",
            "description": "typeUser",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "typeNps",
            "in": "query",
            "description": "typeNps",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/total-comment-count": {
      "get": {
        "description": "total de usuarios",
        "operationId": "getTotalCommentByRangeCountUsingGET",
        "summary": "total de usuarios del NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeUser",
            "in": "query",
            "description": "typeUser",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int64. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "typeNps",
            "in": "query",
            "description": "typeNps",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/total-user": {
      "get": {
        "description": "total de usuarios",
        "operationId": "getTotalUserNpsUsingGET",
        "summary": "total de usuarios del NPS",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeUser",
            "in": "query",
            "description": "typeUser",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nps/validate-nps/{userId}/{typeVote}/{typeClient}": {
      "get": {
        "description": "valida votos",
        "operationId": "validateVoteNpsUsingGET",
        "summary": "valida si el usuario realizo el voto",
        "tags": [
          "net-promoter-score-controller"
        ],
        "parameters": [
          {
            "name": "typeClient",
            "in": "path",
            "description": "typeClient",
            "required": true,
            "type": "string"
          },
          {
            "name": "typeVote",
            "in": "path",
            "description": "typeVote",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NpsValidate-npsUserIdTypeVoteTypeClientGet200-Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "AnswerRequest": {
      "type": "object",
      "properties": {
        "answer": {
          "type": "string"
        },
        "codeQuestion": {
          "type": "string"
        },
        "detailContact": {
          "$ref": "#/definitions/PersonDataRequest"
        },
        "question": {
          "type": "string"
        }
      },
      "title": "AnswerRequest"
    },
    "AnswerResponse": {
      "type": "object",
      "properties": {
        "answer": {
          "type": "string"
        },
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "detailContact": {
          "$ref": "#/definitions/PersonDataRequest"
        },
        "question": {
          "type": "string"
        }
      },
      "title": "AnswerResponse"
    },
    "Flux«AnswerResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«AnswerResponse»"
    },
    "Flux«ResultCount»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«ResultCount»"
    },
    "Flux«ResultNps»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«ResultNps»"
    },
    "Mono«SaveResponse»": {
      "type": "object",
      "title": "Mono«SaveResponse»"
    },
    "Mono«TotalCommentNps»": {
      "type": "object",
      "title": "Mono«TotalCommentNps»"
    },
    "Mono«boolean»": {
      "type": "object",
      "title": "Mono«boolean»"
    },
    "Mono«long»": {
      "type": "object",
      "title": "Mono«long»"
    },
    "NetPromoterScoreRequest": {
      "type": "object",
      "properties": {
        "detailAnswer": {
          "$ref": "#/definitions/AnswerRequest"
        },
        "from": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "idCompany": {
          "type": "string"
        },
        "idUser": {
          "type": "string"
        },
        "point": {
          "type": "integer",
          "format": "int32"
        },
        "typeUser": {
          "type": "string"
        }
      },
      "title": "NetPromoterScoreRequest"
    },
    "PersonDataRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "idContact": {
          "type": "string"
        },
        "idUser": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "surName": {
          "type": "string"
        }
      },
      "title": "PersonDataRequest"
    },
    "ResultCount": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "total": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ResultCount"
    },
    "ResultNps": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string"
        },
        "percentage": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "ResultNps"
    },
    "SaveResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "SaveResponse"
    },
    "TotalCommentNps": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "total": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "TotalCommentNps"
    },
    "NpsValidate-npsUserIdTypeVoteTypeClientGet200-Response": {
      "type": "boolean"
    }
  },
  "tags": [
    {
      "name": "net-promoter-score-controller",
      "description": "Net Promoter Score Controller"
    }
  ]
}