{
  "swagger": "2.0",
  "info": {
    "title": "Sale Portfolio Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/sale-portfolio",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/sale-portfolio/dashboard/getBusinessOpportunity": {
      "get": {
        "description": "Lista todas las empresas y cartera correspondiente, oportunidades y proyeccion de venta",
        "operationId": "getBusinessOpportunityUsingGET",
        "summary": "Lista todas las empresas y cartera correspondiente, oportunidades y proyeccion de venta",
        "tags": [
          "dashboard-opportunity-controller"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "salesGroupId",
            "in": "query",
            "description": "salesGroupId",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene todas las empresas o mi cartera de empresas",
            "schema": {
              "$ref": "#/definitions/ExecutivePortfolioResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron empresas"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/sale-portfolio/dashboard/opportunities": {
      "get": {
        "description": "Obtiene datos para el dashboard de oportunidades",
        "operationId": "getDetailCaseUsingGET",
        "summary": "Obtiene datos para el dashboard de oportunidades",
        "tags": [
          "dashboard-opportunity-controller"
        ],
        "parameters": [
          {
            "name": "attentionGroupSale",
            "in": "query",
            "description": "attentionGroupSale",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/stream+json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Sale-portfolioDashboardOpportunitiesGet200ApplicationStream-jsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-portfolio/dashboard/countBusinessOpportunity": {
      "get": {
        "description": "Obtiene el total de elementos y total de paginas",
        "operationId": "getBusinessOpportunityCountUsingGET",
        "summary": "Obtiene el total de elementos y total de paginas",
        "tags": [
          "dashboard-opportunity-controller"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "salesGroupId",
            "in": "query",
            "description": "salesGroupId",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene total de elementos y paginas",
            "schema": {
              "$ref": "#/definitions/PageCountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se obtuvo elementos y paginas"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/opportunity/": {
      "post": {
        "description": "Registra oportunidades para las empresas, proyecciones de ventas",
        "operationId": "registerUsingPOST",
        "summary": "Registra oportunidades para las empresas, proyecciones de ventas",
        "tags": [
          "opportunity-controller"
        ],
        "parameters": [
          {
            "name": "opportunityRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OpportunityRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se registro correctamente.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron datos."
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/opportunity/filter": {
      "get": {
        "description": "filterOpportunity",
        "operationId": "filterOpportunityUsingGET",
        "summary": "filterOpportunity",
        "tags": [
          "opportunity-controller"
        ],
        "parameters": [
          {
            "name": "businessLine",
            "in": "query",
            "description": "businessLine",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "request",
            "in": "query",
            "description": "request",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "stage",
            "in": "query",
            "description": "stage",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "subSegment",
            "in": "query",
            "description": "subSegment",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "type": "string"
          },
          {
            "name": "typeClient",
            "in": "query",
            "description": "typeClient",
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvo la lista de oportunidades correctamente.",
            "schema": {
              "$ref": "#/definitions/Flux«OpportunityResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/opportunity/filter-count": {
      "get": {
        "description": "filterOpportunityCount",
        "operationId": "filterOpportunityCountUsingGET",
        "summary": "filterOpportunityCount",
        "tags": [
          "opportunity-controller"
        ],
        "parameters": [
          {
            "name": "businessLine",
            "in": "query",
            "description": "businessLine",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "request",
            "in": "query",
            "description": "request",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "stage",
            "in": "query",
            "description": "stage",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "subSegment",
            "in": "query",
            "description": "subSegment",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "type": "string"
          },
          {
            "name": "typeClient",
            "in": "query",
            "description": "typeClient",
            "type": "string"
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvo el total de oportunidades de forma correcta.",
            "schema": {
              "$ref": "#/definitions/Mono«PageCountResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/opportunity/find-all": {
      "get": {
        "description": "Lista todas las oportunidades",
        "operationId": "findAllUsingGET",
        "summary": "Lista todas las oportunidades",
        "tags": [
          "opportunity-controller"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvo la lista de oportunidades correctamente.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    }
  },
  "definitions": {
    "CompanyResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "numberDocument": {
          "type": "string"
        },
        "typeClient": {
          "$ref": "#/definitions/TypeClientResponse"
        },
        "typeDocument": {
          "$ref": "#/definitions/TypeDocumentResponse"
        }
      },
      "title": "CompanyResponse"
    },
    "ExecutiveOpportunityResponse": {
      "type": "object",
      "properties": {
        "currencyType": {
          "type": "string"
        },
        "opportunityQuantity": {
          "type": "integer",
          "format": "int64"
        },
        "opportunityStatus": {
          "type": "string"
        },
        "saleProjection": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "ExecutiveOpportunityResponse"
    },
    "ExecutivePortfolioResponse": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "companyId": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        },
        "documentType": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "opportunity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExecutiveOpportunityResponse"
          }
        },
        "sector": {
          "type": "string"
        }
      },
      "title": "ExecutivePortfolioResponse"
    },
    "Flux«ExecutivePortfolioResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«ExecutivePortfolioResponse»"
    },
    "Flux«OpportunityResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«OpportunityResponse»"
    },
    "Mono«PageCountResponse»": {
      "type": "object",
      "title": "Mono«PageCountResponse»"
    },
    "Mono«Response»": {
      "type": "object",
      "title": "Mono«Response»"
    },
    "OpportunityRequest": {
      "type": "object",
      "properties": {
        "clientTypeCodeEnum": {
          "type": "string"
        },
        "clientTypeNameEnum": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        },
        "documentType": {
          "type": "string"
        },
        "finalDate": {
          "type": "string"
        },
        "highDate": {
          "type": "string"
        },
        "legalName": {
          "type": "string"
        },
        "stage": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "OpportunityRequest"
    },
    "OpportunityResponse": {
      "type": "object",
      "properties": {
        "businessLine": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/CompanyResponse"
        },
        "createDate": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "finishDate": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "internalOpportunityId": {
          "type": "string"
        },
        "numberDocument": {
          "type": "string"
        },
        "opportunityId": {
          "type": "string"
        },
        "opportunityName": {
          "type": "string"
        },
        "stage": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "subSegment": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "title": "OpportunityResponse"
    },
    "PageCountResponse": {
      "type": "object",
      "properties": {
        "totalElements": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "PageCountResponse"
    },
    "Response": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "Response"
    },
    "TypeClientResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "TypeClientResponse"
    },
    "TypeDocumentResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "TypeDocumentResponse"
    },
    "Sale-portfolioDashboardOpportunitiesGet200ApplicationStream-jsonResponse": {
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "dashboard-opportunity-controller",
      "description": "Dashboard Opportunity Controller"
    },
    {
      "name": "opportunity-controller",
      "description": "Opportunity Controller"
    }
  ]
}