{
  "swagger": "2.0",
  "info": {
    "title": "Sales Management Api",
    "version": "1.0",
    "description": "Api Documentation"
  },
  "host": "apm-wappe-cert.azure-api.net",
  "basePath": "/sale-management-api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2WappeServerCertOauth2": {
      "type": "oauth2",
      "scopes": {},
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/929616ff-818c-4541-b071-2bd6ab912e88/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2WappeServerCertOauth2": []
    },
    {
      "apiKeyQuery": [],
      "oauth2WappeServerCertOauth2": []
    }
  ],
  "paths": {
    "/catalogue/getAllBrand": {
      "get": {
        "description": "Obtiene todas las marcas de productos y cantidad existente",
        "operationId": "getAllBrandUsingGET",
        "summary": "Obtiene todas las marcas de productos y cantidad existente",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "planCode",
            "in": "query",
            "description": "planCode",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BrandResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/catalogue/getProductCatalogue": {
      "get": {
        "description": "Obtiene el catalogo de productos",
        "operationId": "getCatalogueUsingGET",
        "summary": "Obtiene el catalogo de productos",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "casuistry",
            "in": "query",
            "description": "Format - int32. casuistry",
            "required": true,
            "type": "integer"
          },
          {
            "name": "brandCode",
            "in": "query",
            "description": "brandCode",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "planCode",
            "in": "query",
            "description": "planCode",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalogueResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/catalogue/total": {
      "get": {
        "description": "Obtiene la cantidad de productos c/s filtro y paginas",
        "operationId": "getTotalCommercialUsingGET",
        "summary": "Obtiene la cantidad de productos c/s filtro y paginas",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Format - int64. size",
            "required": true,
            "type": "integer"
          },
          {
            "name": "brandCode",
            "in": "query",
            "description": "brandCode",
            "type": "string"
          },
          {
            "name": "planCode",
            "in": "query",
            "description": "planCode",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageCountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/getAllProduct": {
      "get": {
        "description": "Lista todos los productos",
        "operationId": "getAllCommercialProductUsingGET",
        "summary": "Lista todos los productos",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommercialProductResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/getImages/{productId}": {
      "get": {
        "description": "Obtiene todas las imagenes del producto y el principal",
        "operationId": "getAllImagesUsingGET",
        "summary": "Obtiene todas las imagenes del producto y el principal",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommercialProductResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/removeImage": {
      "delete": {
        "description": "Elimina una imagen del producto",
        "operationId": "removeImageUsingDELETE",
        "summary": "Elimina una imagen del producto",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "productId",
            "in": "query",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/sale-management/product/totalProduct": {
      "get": {
        "description": "Obtiene la cantidad de productos y paginas",
        "operationId": "getTotalCommercialUsingGET_1",
        "summary": "Obtiene la cantidad de productos y paginas",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Format - int64. size",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageCountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/updateImage": {
      "put": {
        "description": "actualiza el Detalle de imagenes, cantidad y path",
        "operationId": "updateProductImageUsingPUT",
        "summary": "actualiza el Detalle de imagenes, cantidad y path",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "imageRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ImageRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageCountResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/updateMainImage": {
      "put": {
        "description": "Actualiza la imagen principal",
        "operationId": "updateMainImageUsingPUT",
        "summary": "Actualiza la imagen principal",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "productId",
            "in": "query",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sale-management/product/updateProduct": {
      "put": {
        "description": "actualiza multiples los segmentos de los productos",
        "operationId": "updateCommercialProductUsingPUT",
        "summary": "actualiza multiples los segmentos de los productos",
        "tags": [
          "commercial-product-controller"
        ],
        "parameters": [
          {
            "name": "commercialProductRequestArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CommercialProductRequestArray"
            },
            "description": "requests"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageCountResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/catalogue/getProductDetail/{productId}": {
      "get": {
        "description": "Obtiene el producto y sus planes",
        "operationId": "getProductDetailUsingGET",
        "summary": "Obtiene el producto y sus planes",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene el producto y sus planes",
            "schema": {
              "$ref": "#/definitions/ProductDetailResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se producto"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getProductSpecification/{productId}": {
      "get": {
        "description": "Obtiene las especificaciones del producto",
        "operationId": "getProductSpecificationUsingGET",
        "summary": "Obtiene las especificaciones del producto",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene especificaciones del producto",
            "schema": {
              "$ref": "#/definitions/SpecificationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontró producto"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getProductPrice": {
      "get": {
        "description": "Obtiene el precio del producto, por plan y campaña",
        "operationId": "getProductPriceUsingGET",
        "summary": "Obtiene el precio del producto, por plan y campaña",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "planCode",
            "in": "query",
            "description": "planCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "productCode",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene precio del producto en la campaña",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se obtuvo precio del producto en la campaña"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getPlan": {
      "get": {
        "description": "Lista todos los planes o los o dependiendo del parametro de manera ascendente",
        "operationId": "getPlanUsingGET",
        "summary": "Lista todos los planes o los o dependiendo del parametro de manera ascendente",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Format - int64. size",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene los planes o los o dependiendo del parametro de manera ascendente",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron planes"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getPlanDetail": {
      "get": {
        "description": "Lista todos los planes de manera ascendente con su detalle ",
        "operationId": "getPlanDetailUsingGET",
        "summary": "Lista todos los planes de manera ascendente con su detalle ",
        "tags": [
          "catalogue-controller"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene planes de manera ascendente y su detalle",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron planes"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getPlan/{planId}": {
      "get": {
        "description": "Obtiene el detalle de un plan",
        "operationId": "getPlanByIdUsingGET",
        "summary": "Obtiene el detalle de un plan",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "planId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene el detalle de un plan",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron planes"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getProductByGamma": {
      "get": {
        "description": "getProductByGamma",
        "operationId": "getProductByGammaUsingGET",
        "summary": "getProductByGamma",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "gamma",
            "in": "query",
            "description": "gamma",
            "required": true,
            "type": "string"
          },
          {
            "name": "planCode",
            "in": "query",
            "description": "planCode",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene todos los productos recomendados de la gama y el plan",
            "schema": {
              "$ref": "#/definitions/Flux«CatalogueResponse»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron productos"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/": {
      "post": {
        "description": "Agrega item al carrito de compras",
        "operationId": "saveUsingPOST",
        "summary": "Agrega item al carrito de compras",
        "tags": [
          "shopping-cart-controller"
        ],
        "parameters": [
          {
            "name": "shoppingCartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ShoppingCartRequest"
            },
            "description": "shoppingCartRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Agrega item al carrito de compras",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo agregar item"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      },
      "put": {
        "description": "Actualiza plan, precio o cantidad del item en el carrito de compras",
        "operationId": "updateItemUsingPUT",
        "summary": "Actualiza plan, precio o cantidad del item en el carrito de compras",
        "tags": [
          "shopping-cart-controller"
        ],
        "parameters": [
          {
            "name": "itemCartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ItemCartRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se actualizo item en el carrito de compras",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo actualizar item en el carrito de compras"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/{userId}": {
      "get": {
        "description": "Lista todos los items del usuario",
        "operationId": "findAllUsingGET",
        "summary": "Lista todos los items del usuario",
        "tags": [
          "shopping-cart-controller"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Lista todos los items del usuario",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "El usuario no tiene items"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/removeItem": {
      "put": {
        "description": "Elimina todos los productos y/o servicios del carrito de compras",
        "operationId": "deleteUsingPUT",
        "summary": "Elimina todos los productos y/o servicios del carrito de compras",
        "tags": [
          "shopping-cart-controller"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ItemId"
            },
            "description": "itemId"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Elimina todos los productos y/o servicios del carrito de compras",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudieron eliminar productos o servicios"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/getPlanOfProduct/{productId}": {
      "get": {
        "description": "Obtiene todos los planes del producto",
        "operationId": "getAllPlanOfProductUsingGET",
        "summary": "Obtiene todos los planes del producto",
        "tags": [
          "catalogue-controller"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "productId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtuvo todos los planes del producto",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron planes"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/technicalFacility/getTechnicalService/advanced": {
      "get": {
        "description": "Obtiene los servicios de fija avanzada",
        "operationId": "getfixedAdvancedServiceUsingGET",
        "summary": "Obtiene los servicios de fija avanzada",
        "tags": [
          "technical-facility-controller"
        ],
        "parameters": [
          {
            "name": "coordinateX",
            "in": "query",
            "description": "coordinateX",
            "type": "string",
            "default": "0"
          },
          {
            "name": "coordinateY",
            "in": "query",
            "description": "coordinateY",
            "type": "string",
            "default": "0"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvieron los servicios de fija avanzada correctamente",
            "schema": {
              "$ref": "#/definitions/TechnicalFacilityGetTechnicalServiceAdvancedGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicacion"
          }
        }
      }
    },
    "/technicalFacility/getTechnicalService/traditional": {
      "get": {
        "description": "Obtiene los servicios de fija tradicional)",
        "operationId": "getfixedTraditionalServiceUsingGET",
        "summary": "Obtiene los servicios de fija tradicional)",
        "tags": [
          "technical-facility-controller"
        ],
        "parameters": [
          {
            "name": "coordinateX",
            "in": "query",
            "description": "coordinateX",
            "required": true,
            "type": "string"
          },
          {
            "name": "coordinateY",
            "in": "query",
            "description": "coordinateY",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvieron los servicios de fija tradicional correctamente",
            "schema": {
              "$ref": "#/definitions/TechnicalFacilityGetTechnicalServiceTraditionalGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicacion"
          }
        }
      }
    },
    "/station/get-station-radius": {
      "get": {
        "description": "Obtiene las antenas cercanas al cliente, en un radio establecido",
        "operationId": "getStationRadiusUsingGET",
        "summary": "Obtiene las antenas cercanas al cliente, en un radio establecido",
        "tags": [
          "station-controller"
        ],
        "parameters": [
          {
            "name": "coordinateX",
            "in": "query",
            "description": "coordinateX",
            "required": true,
            "type": "string"
          },
          {
            "name": "coordinateY",
            "in": "query",
            "description": "coordinateY",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se obtuvieron los datos de las antenas",
            "schema": {
              "$ref": "#/definitions/StationGet-station-radiusGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicacion"
          }
        }
      }
    },
    "/offer-mte/company/{ruc}": {
      "get": {
        "description": "Obtiene las ofertas de Movistar Total Empresas (MTE) por RUC",
        "operationId": "getOfferMTEUsingGET",
        "summary": "Obtiene las ofertas de Movistar Total Empresas (MTE) por RUC",
        "tags": [
          "offer-mte-controller"
        ],
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "ruc",
            "required": true,
            "type": "string"
          },
          {
            "name": "UNICA-Application",
            "in": "header",
            "description": "UNICA-Application",
            "type": "string"
          },
          {
            "name": "UNICA-ExecId",
            "in": "header",
            "description": "UNICA-ExecId",
            "type": "string"
          },
          {
            "name": "UNICA-ServiceId",
            "in": "header",
            "description": "UNICA-ServiceId",
            "type": "string"
          },
          {
            "name": "UNICA-Timestamp",
            "in": "header",
            "description": "UNICA-Timestamp",
            "type": "string"
          },
          {
            "name": "UNICA-User",
            "in": "header",
            "description": "UNICA-User",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Offer-mteCompanyRucGet200ApplicationJsonResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/shoppingCart/digital/add-massive-item": {
      "post": {
        "description": "Agrega items al carrito de compras",
        "operationId": "addMassiveItemUsingPOST",
        "summary": "Agrega items al carrito de compras",
        "tags": [
          "shopping-cart-digital-controller"
        ],
        "parameters": [
          {
            "name": "addDigitalCartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddDigitalCartRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Agrega items al carrito de compras",
            "schema": {
              "$ref": "#/definitions/AddItemDigitalCartResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo agregar items"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/digital/update-item": {
      "put": {
        "description": "Actualiza plan, precio o cantidad del item en el carrito de compras",
        "operationId": "updateItemUsingPUT_1",
        "summary": "Actualiza plan, precio o cantidad del item en el carrito de compras",
        "tags": [
          "shopping-cart-digital-controller"
        ],
        "parameters": [
          {
            "name": "updateItemDigitalCartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateItemDigitalCartRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se actualizo item en el carrito de compras",
            "schema": {
              "$ref": "#/definitions/ModifiedItemDigitalCartResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo actualizar item en el carrito de compras"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/catalogue/digital/get-items": {
      "post": {
        "description": "Obtiene los datos de la campaña con los servicios y planes relacionados, se utiliza el IdCatalog de marketing",
        "operationId": "getDigitalCatalogUsingPOST",
        "summary": "Obtiene los datos de la campaña con los servicios y planes relacionados, se utiliza el IdCatalog de marketing",
        "tags": [
          "catalogue-digital-controller"
        ],
        "parameters": [
          {
            "name": "catalogRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CatalogRequest"
            },
            "description": "catalogRequest"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene los datos de la campaña con los servicios y planes relacionados",
            "schema": {
              "$ref": "#/definitions/CatalogDigitalResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se encontraron datos de campaña"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/digital/remove-item/{itemCart}": {
      "delete": {
        "description": "Elimina los productos y/o servicios seleccionados del carrito de compras",
        "operationId": "removeItemUsingDELETE",
        "summary": "Elimina los productos y/o servicios seleccionados del carrito de compras",
        "tags": [
          "shopping-cart-digital-controller"
        ],
        "parameters": [
          {
            "name": "itemCart",
            "in": "path",
            "description": "itemCart",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Elimina todos los productos y/o servicios del carrito de compras",
            "schema": {
              "$ref": "#/definitions/AddItemDigitalCartResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudieron eliminar productos o servicios"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/digital/find-all-items": {
      "post": {
        "description": "Lista todos los items del usuario",
        "operationId": "findAllItemsUsingPOST",
        "summary": "Lista todos los items del usuario",
        "tags": [
          "shopping-cart-digital-controller"
        ],
        "parameters": [
          {
            "name": "getItemsDigitalCartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GetItemsDigitalCartRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Lista todos los items del usuario",
            "schema": {
              "$ref": "#/definitions/ShoppingCartDigitalResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "El usuario no tiene items"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/purchaseOrder/digital/find-purchase-order/{idPurchaseOrder}": {
      "get": {
        "description": "Obtiene el detalle de la orden de compra",
        "operationId": "findPurchaseOrderUsingGET",
        "summary": "Obtiene el detalle de la orden de compra",
        "tags": [
          "purchase-order-digital-controller"
        ],
        "parameters": [
          {
            "name": "idPurchaseOrder",
            "in": "path",
            "description": "idPurchaseOrder",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene el detalle de la orden de compra",
            "schema": {
              "$ref": "#/definitions/PurchaseDetailResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo obtener el detalle de la orden de compra"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/purchaseOrder/digital/filter-purchase": {
      "get": {
        "description": "Lista y filta mis compras",
        "operationId": "filterPurchaseUsingGET",
        "summary": "Lista y filta mis compras",
        "tags": [
          "purchase-order-digital-controller"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "companyId",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene el listado de mis compras",
            "schema": {
              "$ref": "#/definitions/PurchaseAmountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo obtener informacion sobre el listado de mis compras"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/purchaseOrder/digital/filter-purchase-count": {
      "get": {
        "description": "Contador de la Lista y filto de  mis compras",
        "operationId": "filterPurchaseCountUsingGET",
        "summary": "Contador de la Lista y filto de  mis compras",
        "tags": [
          "purchase-order-digital-controller"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "companyId",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page",
            "type": "integer",
            "default": "0"
          },
          {
            "name": "since",
            "in": "query",
            "description": "since",
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Format - int32. size",
            "type": "integer",
            "default": "20"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "type": "string"
          },
          {
            "name": "typeService",
            "in": "query",
            "description": "typeService",
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "description": "until",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "obtiene el contador",
            "schema": {
              "$ref": "#/definitions/PurchaseAmountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo obtener informacion sobre el listado de mis compras"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/payment/digital/process-payment": {
      "post": {
        "description": "Imvoca al proceso de generacion de orden de compra e invoca al webviewapi",
        "operationId": "processPaymentUsingPOST",
        "summary": "Imvoca al proceso de generacion de orden de compra e invoca al webviewapi",
        "tags": [
          "payment-digital-controller"
        ],
        "parameters": [
          {
            "name": "paymentDigitalRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentDigitalRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se genero la orden de compra y se obtiene la url del proceso de pago",
            "schema": {
              "$ref": "#/definitions/PaymentDigitalResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/shoppingCart/digital/validate-subscription-limit/{userCode}/{companyCode}": {
      "get": {
        "description": "Valida el carrito de compras del cliente y obtiene informacion sobre el limite de suscripciones",
        "operationId": "validateSubscriptionLimitUsingGET",
        "summary": "Valida el carrito de compras del cliente y obtiene informacion sobre el limite de suscripciones",
        "tags": [
          "shopping-cart-digital-controller"
        ],
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "companyCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "userCode",
            "in": "path",
            "description": "userCode",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Obtiene informacion sobre el limite de suscripciones",
            "schema": {
              "$ref": "#/definitions/PurchaseAmountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No se pudo obtener informacion sobre el limite de suscripciones"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    },
    "/payment/digital/process-payment-result": {
      "post": {
        "description": "Permite guardar la informacion recibida del formulario de pago (checkout)",
        "operationId": "processPaymentResultUsingPOST",
        "summary": "Permite guardar la informacion recibida del formulario de pago (checkout)",
        "tags": [
          "payment-digital-controller"
        ],
        "parameters": [
          {
            "name": "paymentResultRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentResultRequest"
            },
            "description": "request"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se guardo la informacion de la operacion de pago (checkout))",
            "schema": {
              "$ref": "#/definitions/AddItemDigitalCartResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Se produjo un error en la aplicación"
          }
        }
      }
    }
  },
  "definitions": {
    "AddDigitalCartRequest": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string"
        },
        "itemCartList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemDigitalCartRequest"
          }
        },
        "productAvailable": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      },
      "title": "AddDigitalCartRequest"
    },
    "AddItemDigitalCartResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AddItemDigitalCartResponse"
    },
    "AdvancedServiceResponse": {
      "type": "object",
      "properties": {
        "advanced": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TechnicalPlanResponse"
          }
        },
        "zone": {
          "type": "string"
        }
      },
      "title": "AdvancedServiceResponse"
    },
    "BrandResponse": {
      "type": "object",
      "properties": {
        "brandCode": {
          "type": "string"
        },
        "brandName": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "BrandResponse"
    },
    "CameraResponse": {
      "type": "object",
      "properties": {
        "frontalCamera": {
          "type": "string"
        },
        "mainCamera": {
          "type": "string"
        },
        "mainFlashCamera": {
          "type": "integer",
          "format": "int32"
        },
        "videoCamera": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "CameraResponse"
    },
    "CartItemResponse": {
      "type": "object",
      "properties": {
        "financing": {
          "type": "integer",
          "format": "int32"
        },
        "financingName": {
          "type": "string"
        },
        "installationPrice": {
          "type": "string"
        },
        "itemId": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "minProductPrice": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "planPrice": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "productPrice": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "subTotal": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "title": "CartItemResponse"
    },
    "CartProposalResponse": {
      "type": "object",
      "properties": {
        "item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartItemResponse"
          }
        },
        "total": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "CartProposalResponse"
    },
    "CatalogDigitalResponse": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string"
        },
        "durationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "idCampaign": {
          "type": "string"
        },
        "idCatalog": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "maxSaleQuantity": {
          "type": "string"
        },
        "percentMTE": {
          "type": "number",
          "format": "double"
        },
        "planCode": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "priceMTE": {
          "type": "number",
          "format": "double"
        },
        "serviceBrand": {
          "type": "string"
        },
        "serviceCode": {
          "type": "string"
        },
        "serviceId": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        }
      },
      "title": "CatalogDigitalResponse"
    },
    "CatalogRequest": {
      "type": "object",
      "properties": {
        "listIdCatalog": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "CatalogRequest"
    },
    "CatalogueResponse": {
      "type": "object",
      "properties": {
        "brandName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "price": {
          "type": "string"
        },
        "productCode": {
          "type": "string"
        }
      },
      "title": "CatalogueResponse"
    },
    "CommercialProductRequest": {
      "type": "object",
      "properties": {
        "companySubType": {
          "type": "boolean"
        },
        "highValue": {
          "type": "boolean"
        },
        "premium": {
          "type": "boolean"
        },
        "productId": {
          "type": "string"
        },
        "secondTop": {
          "type": "boolean"
        }
      },
      "title": "CommercialProductRequest"
    },
    "CommercialProductResponse": {
      "type": "object",
      "properties": {
        "companySubType": {
          "type": "boolean"
        },
        "highDate": {
          "type": "string"
        },
        "highValue": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string"
        },
        "premium": {
          "type": "boolean"
        },
        "productId": {
          "type": "string"
        },
        "quantityImage": {
          "type": "integer",
          "format": "int32"
        },
        "secondTop": {
          "type": "boolean"
        }
      },
      "title": "CommercialProductResponse"
    },
    "ConnectivityResponse": {
      "type": "object",
      "properties": {
        "bluetooth": {
          "type": "string"
        },
        "fileExchange": {
          "type": "integer",
          "format": "int32"
        },
        "gps": {
          "type": "integer",
          "format": "int32"
        },
        "handsFree": {
          "type": "integer",
          "format": "int32"
        },
        "nfc": {
          "type": "integer",
          "format": "int32"
        },
        "wifi": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ConnectivityResponse"
    },
    "FeatureResponse": {
      "type": "object",
      "properties": {
        "chipType": {
          "type": "string"
        },
        "dimension": {
          "type": "string"
        },
        "shape": {
          "type": "string"
        },
        "weight": {
          "type": "string"
        }
      },
      "title": "FeatureResponse"
    },
    "Flux«BrandResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«BrandResponse»"
    },
    "Flux«CatalogDigitalResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«CatalogDigitalResponse»"
    },
    "Flux«CatalogueResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«CatalogueResponse»"
    },
    "Flux«CommercialProductResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«CommercialProductResponse»"
    },
    "Flux«ImageResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«ImageResponse»"
    },
    "Flux«PlanResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«PlanResponse»"
    },
    "Flux«PurchaseResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«PurchaseResponse»"
    },
    "Flux«Response»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«Response»"
    },
    "Flux«ShoppingCartDigitalResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«ShoppingCartDigitalResponse»"
    },
    "Flux«StationRadiusResponse»": {
      "type": "object",
      "properties": {
        "prefetch": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Flux«StationRadiusResponse»"
    },
    "GetItemsDigitalCartRequest": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      },
      "title": "GetItemsDigitalCartRequest"
    },
    "ImageRequest": {
      "type": "object",
      "properties": {
        "main": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "size": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ImageRequest"
    },
    "ImageResponse": {
      "type": "object",
      "properties": {
        "main": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "size": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ImageResponse"
    },
    "ItemCartRequest": {
      "type": "object",
      "properties": {
        "itemId": {
          "type": "string"
        },
        "planCode": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "productId": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ItemCartRequest"
    },
    "ItemDigitalCartRequest": {
      "type": "object",
      "properties": {
        "idCampaign": {
          "type": "string"
        },
        "idCatalog": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ItemDigitalCartRequest"
    },
    "ItemOrderResponse": {
      "type": "object",
      "properties": {
        "durationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "finalPrice": {
          "type": "number",
          "format": "double"
        },
        "idCampaign": {
          "type": "string"
        },
        "idCatalog": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "percentMTE": {
          "type": "number",
          "format": "double"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "priceMTE": {
          "type": "number",
          "format": "double"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "serviceId": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "subTotal": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "ItemOrderResponse"
    },
    "MemoryResponse": {
      "type": "object",
      "properties": {
        "capacity": {
          "type": "string"
        },
        "expandableMemory": {
          "type": "string"
        },
        "ramSize": {
          "type": "string"
        }
      },
      "title": "MemoryResponse"
    },
    "ModifiedItemDigitalCartResponse": {
      "type": "object",
      "properties": {
        "itemCart": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ModifiedItemDigitalCartResponse"
    },
    "Mono«AddItemDigitalCartResponse»": {
      "type": "object",
      "title": "Mono«AddItemDigitalCartResponse»"
    },
    "Mono«AdvancedServiceResponse»": {
      "type": "object",
      "title": "Mono«AdvancedServiceResponse»"
    },
    "Mono«CartProposalResponse»": {
      "type": "object",
      "title": "Mono«CartProposalResponse»"
    },
    "Mono«ModifiedItemDigitalCartResponse»": {
      "type": "object",
      "title": "Mono«ModifiedItemDigitalCartResponse»"
    },
    "Mono«OfferMTEResponse»": {
      "type": "object",
      "title": "Mono«OfferMTEResponse»"
    },
    "Mono«PageCountResponse»": {
      "type": "object",
      "title": "Mono«PageCountResponse»"
    },
    "Mono«PaymentDigitalResponse»": {
      "type": "object",
      "title": "Mono«PaymentDigitalResponse»"
    },
    "Mono«PlanResponse»": {
      "type": "object",
      "title": "Mono«PlanResponse»"
    },
    "Mono«ProductDetailResponse»": {
      "type": "object",
      "title": "Mono«ProductDetailResponse»"
    },
    "Mono«PurchaseAmountResponse»": {
      "type": "object",
      "title": "Mono«PurchaseAmountResponse»"
    },
    "Mono«PurchaseDetailResponse»": {
      "type": "object",
      "title": "Mono«PurchaseDetailResponse»"
    },
    "Mono«PurchaseOrderConfirmationResponse»": {
      "type": "object",
      "title": "Mono«PurchaseOrderConfirmationResponse»"
    },
    "Mono«Response»": {
      "type": "object",
      "title": "Mono«Response»"
    },
    "Mono«SpecificationResponse»": {
      "type": "object",
      "title": "Mono«SpecificationResponse»"
    },
    "Mono«TraditionalServiceResponse»": {
      "type": "object",
      "title": "Mono«TraditionalServiceResponse»"
    },
    "OfferMTEResponse": {
      "type": "object",
      "properties": {
        "b19_descuento_facturacion": {
          "type": "string"
        },
        "b19_duplica_gb": {
          "type": "string"
        },
        "b19_mes_descuento_facturacion": {
          "type": "string"
        },
        "b19_mes_duplica_gb": {
          "type": "string"
        },
        "b19_mes_velocidad_200mbps": {
          "type": "string"
        },
        "b19_velocidad_200mbps": {
          "type": "string"
        },
        "b20_descuento_equipos": {
          "type": "string"
        },
        "b20_descuento_facturacion": {
          "type": "string"
        },
        "b20_duplica_gb": {
          "type": "string"
        },
        "b20_factura_al_toke": {
          "type": "string"
        },
        "b20_talleres_digitales": {
          "type": "string"
        },
        "b20_velocidad_200mbps": {
          "type": "string"
        },
        "existe": {
          "type": "boolean"
        },
        "pantalla": {
          "type": "string"
        },
        "ruc": {
          "type": "string"
        }
      },
      "title": "OfferMTEResponse"
    },
    "PageCountResponse": {
      "type": "object",
      "properties": {
        "totalItems": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "PageCountResponse"
    },
    "PaymentDigitalRequest": {
      "type": "object",
      "properties": {
        "companyCode": {
          "type": "string"
        },
        "userCode": {
          "type": "string"
        }
      },
      "title": "PaymentDigitalRequest"
    },
    "PaymentDigitalResponse": {
      "type": "object",
      "properties": {
        "idPurchaseOrder": {
          "type": "string"
        },
        "isError": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        },
        "paymentUrl": {
          "type": "string"
        },
        "purchaseOrderCode": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "withZeroCost": {
          "type": "boolean"
        }
      },
      "title": "PaymentDigitalResponse"
    },
    "PaymentResultRequest": {
      "type": "object",
      "properties": {
        "correlationId": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "PaymentResultRequest"
    },
    "PlanResponse": {
      "type": "object",
      "properties": {
        "exclusiveBenefit": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "firstOption": {
          "type": "boolean"
        },
        "planCode": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "planPrice": {
          "type": "string"
        },
        "sharedInfo": {
          "type": "string"
        },
        "sharedSpeed": {
          "type": "string"
        },
        "unlimitedApp": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unlimitedCall": {
          "type": "string"
        }
      },
      "title": "PlanResponse"
    },
    "ProductDetailResponse": {
      "type": "object",
      "properties": {
        "brandName": {
          "type": "string"
        },
        "gamma": {
          "type": "string"
        },
        "imageDetail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageResponse"
          }
        },
        "plan": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanResponse"
          }
        },
        "productCode": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "storageSize": {
          "type": "string"
        }
      },
      "title": "ProductDetailResponse"
    },
    "PurchaseAmountResponse": {
      "type": "object",
      "properties": {
        "isValidCart": {
          "type": "boolean"
        },
        "listAmountDetail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchasedAmountDetail"
          }
        }
      },
      "title": "PurchaseAmountResponse"
    },
    "PurchaseDetailResponse": {
      "type": "object",
      "properties": {
        "highDate": {
          "type": "string"
        },
        "idPurchaseOrder": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemOrderResponse"
          }
        },
        "purchaseOrderCode": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      },
      "title": "PurchaseDetailResponse"
    },
    "PurchaseOrderConfirmationResponse": {
      "type": "object",
      "properties": {
        "isError": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "PurchaseOrderConfirmationResponse"
    },
    "PurchaseResponse": {
      "type": "object",
      "properties": {
        "idPurchaseOrder": {
          "type": "string"
        },
        "numberPurchaseOrder": {
          "type": "string"
        },
        "purchaseDate": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "subTotal": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "PurchaseResponse"
    },
    "PurchasedAmountDetail": {
      "type": "object",
      "properties": {
        "mainImage": {
          "type": "string"
        },
        "maxSubscriptionsLimit": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "numCurrentSubscriptions": {
          "type": "integer",
          "format": "int32"
        },
        "numSubscriptionsAvailable": {
          "type": "integer",
          "format": "int32"
        },
        "numSubscriptionsRequested": {
          "type": "integer",
          "format": "int32"
        },
        "serviceCode": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "validSubscription": {
          "type": "boolean"
        }
      },
      "title": "PurchasedAmountDetail"
    },
    "Response": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "minPrice": {
          "type": "string"
        },
        "price": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Response"
    },
    "ShoppingCartDigitalResponse": {
      "type": "object",
      "properties": {
        "durationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "idCampaign": {
          "type": "string"
        },
        "idCart": {
          "type": "string"
        },
        "idCatalog": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "percentMTE": {
          "type": "number",
          "format": "double"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "priceMTE": {
          "type": "number",
          "format": "double"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "serviceCode": {
          "type": "string"
        },
        "serviceId": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "subTotal": {
          "type": "number",
          "format": "double"
        }
      },
      "title": "ShoppingCartDigitalResponse"
    },
    "ShoppingCartRequest": {
      "type": "object",
      "properties": {
        "financing": {
          "type": "integer",
          "format": "int32"
        },
        "financingName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "mainImage": {
          "type": "string"
        },
        "minProductPrice": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "planName": {
          "type": "string"
        },
        "planPrice": {
          "type": "string"
        },
        "productPrice": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      },
      "title": "ShoppingCartRequest"
    },
    "SpecificationResponse": {
      "type": "object",
      "properties": {
        "bandWidth": {
          "type": "string"
        },
        "batteryDuration": {
          "type": "string"
        },
        "batteryType": {
          "type": "string"
        },
        "camera": {
          "$ref": "#/definitions/CameraResponse"
        },
        "connectivity": {
          "$ref": "#/definitions/ConnectivityResponse"
        },
        "description": {
          "type": "string"
        },
        "feature": {
          "$ref": "#/definitions/FeatureResponse"
        },
        "mainScreenResolution": {
          "type": "string"
        },
        "mainScreenSize": {
          "type": "string"
        },
        "memory": {
          "$ref": "#/definitions/MemoryResponse"
        },
        "operatingSystem": {
          "type": "string"
        },
        "processor": {
          "type": "string"
        },
        "sensor": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "technology": {
          "type": "string"
        }
      },
      "title": "SpecificationResponse"
    },
    "StationRadiusResponse": {
      "type": "object",
      "properties": {
        "coordinateX": {
          "type": "string"
        },
        "coordinateY": {
          "type": "string"
        },
        "distanceKm": {
          "type": "number",
          "format": "double"
        },
        "height": {
          "type": "number",
          "format": "double"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "StationRadiusResponse"
    },
    "TechnicalPlanResponse": {
      "type": "object",
      "properties": {
        "extraInfo": {
          "type": "string"
        },
        "firstColumn": {
          "type": "string"
        },
        "planSpeed": {
          "type": "string"
        },
        "secondColumn": {
          "type": "string"
        },
        "thirdColumn": {
          "type": "string"
        }
      },
      "title": "TechnicalPlanResponse"
    },
    "TraditionalServiceResponse": {
      "type": "object",
      "properties": {
        "couple": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TechnicalPlanResponse"
          }
        },
        "mono": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TechnicalPlanResponse"
          }
        },
        "three": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TechnicalPlanResponse"
          }
        }
      },
      "title": "TraditionalServiceResponse"
    },
    "UpdateItemDigitalCartRequest": {
      "type": "object",
      "properties": {
        "itemCart": {
          "type": "string"
        },
        "productAvailable": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "userId": {
          "type": "string"
        }
      },
      "title": "UpdateItemDigitalCartRequest"
    },
    "Offer-mteCompanyRucGet200ApplicationJsonResponse": {
      "type": "object"
    },
    "CommercialProductRequestArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CommercialProductRequest"
      }
    },
    "ItemId": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "StationGet-station-radiusGet200ApplicationJsonResponse": {
      "type": "object"
    },
    "TechnicalFacilityGetTechnicalServiceAdvancedGet200ApplicationJsonResponse": {
      "type": "object"
    },
    "TechnicalFacilityGetTechnicalServiceTraditionalGet200ApplicationJsonResponse": {
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "catalogue-controller",
      "description": "Catalogue Controller"
    },
    {
      "name": "commercial-product-controller",
      "description": "Commercial Product Controller"
    },
    {
      "name": "technical-facility-controller",
      "description": "Technical Facility Controller"
    },
    {
      "name": "shopping-cart-controller",
      "description": "Shopping Cart Controller"
    },
    {
      "name": "station-controller",
      "description": "Station Controller"
    },
    {
      "name": "offer-mte-controller",
      "description": "Offer MTE Controller"
    },
    {
      "name": "catalogue-digital-controller",
      "description": "Catalogue Digital Controller"
    },
    {
      "name": "shopping-cart-digital-controller",
      "description": "Shopping Cart Digital Controller"
    },
    {
      "name": "purchase-order-digital-controller",
      "description": "Purchase Order Digital Controller"
    },
    {
      "name": "payment-digital-controller",
      "description": "Payment Digital Controller"
    }
  ]
}